/*GENERAL*/
html{
	height: 100%;
}

body{
	position: relative;
	width: auto;
	min-width: 1200px;
	font-family: 'Lato', sans-serif;
	height: auto;
	min-height: calc(100% - 61px);
	background: #efefef;
}


body.per-100{
	height: calc(100% - 61px);
}

body p{
	font-size: 14px;
	font-weight: 500;
}

iframe{
	height: 100%;
	border: none;
}

h1{

}

h2{
	font-size: 28px;
	margin: 0; 
	padding: 0 0 20px 0; 
	font-weight: 700;
}

h3{
	font-size: 18px;
	margin: 0; 
	padding: 5px 0 20px 0; 
	font-weight: 700;
}

h4{
	font-size: 16px;
	margin: 0; 
	padding: 5px 0 20px 0; 
	font-weight: 700;
}

label{
	font-size: 14px;
	font-weight: 700;
	margin: 0;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

.clear{
	width: 0;
	height: 0;
	clear: both;
}

.width-1200{
	width: 1200px;
	margin: 0 auto;
}

.width-900{
	height: auto;
	max-width: 900px;
	margin: 0 auto;
}

.width-15per{
	width: 15%
}

.width-70per{
	width: 70%;
}

/*margins*/
.margin-top-5{
	margin-top: 5px;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-40{
	margin-top: 40px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-60{
	margin-top: 60px;
}

.margin-top-70{
	margin-top: 70px;
}

.margin-top-80{
	margin-top: 80px;
}

.margin-right-5{
	margin-right: 5px;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-right-25{
	margin-right: 25px;
}


.margin-bottom-5{
	margin-bottom: 5px;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

.margin-bottom-15{
	margin-bottom: 15px;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.margin-left-5{
	margin-left: 5px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-left-15{
	margin-left: 15px;
}

.margin-top-neg-10{
	margin-top: -10px;
}

.margin-top-neg-30{
	margin-top: -30px;
}

.margin-top-reset{
	margin-top: 0 !important;
}

.margin-bottom-reset{
	margin-bottom: 0;
}

.margin-left-reset{
	margin-left: 0;
}

.margin-right-reset{
	margin-right: 0;
}

.margin-reset{
	margin: 0;
}

/*padding*/
.padding-top-10{
	padding-top: 10px;
}

.padding-top-20{
	padding-top: 20px;
}

.padding-top-50{
	padding-top: 50px;
}
.padding-right-reset{
	padding-right: 0;
}

.padding-right-10{
	padding-right: 10px;
}

.padding-right-15{
	padding-right: 15px;
}

.padding-right-20{
	padding-right: 20px;
}

.padding-right-40{
	padding-right: 40px;
}

.padding-right-50{
	padding-right: 50px;
}

.padding-bottom-10{
	padding-bottom: 10px;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.padding-bottom-50{
	padding-bottom: 50px;
}

.padding-bottom-185{
	padding-bottom: 185px;
}

.padding-left-10{
	padding-left: 10px;
}

.padding-left-15{
	padding-left: 15px;
}

.padding-left-20{
	padding-left: 20px;
}

.padding-left-40{
	padding-left: 40px;
}

.padding-left-50{
	padding-left: 50px;
}

.padding-right-left-reset{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.padding-left-reset{
	padding-left: 0;
}

.padding-right-reset{
	padding-right: 0;
}


.border-bottom-dashed {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #adadad;
}

.border-top{
	border-top: 1px solid #E6E4E4;
	width: 100%;
}

/*background-colors*/
.white-bg{
	background-color: #fff;
}

.light-gray-bg{
	background-color: #f9f9f9;
}

.med-gray-bg{
	background-color: #dfdfdf;
}

.black-bg{
	background-color: #000;
}

.red-bg{
	background-color: #de0031;
}


/*text-colors*/
.black-text{
	color: #000;
}

.gray-text{
	color: #555;
}

.gray{
	color: #555;
}

.skyblue-text{
	color: #0a97dc;
}

.blue-text{
	color: #3a7cbe;
}

.red-text{
	color: #ca000a;
}

.green-text{
	color: #70cf01;
}

.text-green {
	color: #10ad00;
}

.red-text{
	color: #ca000a;
}

/*A LINK*/
.lnk-blue:hover{
	color: #265B8A;
}

.lnk-red{
	color: #e00033;
}

.lnk-red:hover{
	color: #970426;
}

.lnk-green{
	color: #10ad00;
}

.lnk-green:hover{
	color: #0F8A03;
}

/*IMAGES*/
.img-holder{
	background: #dfdfdf; /*DISREGARD IF THE IMAGES TAKES OVER :)*/
	width: 100%;
	height: 122px;
	text-align: center;
}

.img-holder1 img,
.img-holder img{
	max-height: 122px;
	margin: 0 auto;
}

.img-holder1{
	background: #dfdfdf; /*DISREGARD IF THE IMAGES TAKES OVER :)*/
	width: 100%;
	height: 122px;
}

.img-holder2{ /*for user profile picture*/
	background: #dfdfdf; /*DISREGARD IF THE IMAGES TAKES OVER :)*/
	width: 100%;
	height: 70px;
}

.img-holder2 img{ /*for user profile picture*/
	max-height: 70px;
	margin: 0 auto;
}

.img-holder3{
	background: #dfdfdf; /*DISREGARD IF THE IMAGES TAKES OVER :)*/
	width: 100%;
	height: 102px;
}

.img-holder3 img{ /*for user profile picture*/
	max-height: 102px;
	margin: 0 auto;
}

/*header*/
header{
	position: relative;
	min-width: 1200px;
}

.navbar-default{
	background: #222222;
	border: none;
	height: 61px;
	font-size: 0;
	min-width: 1200px;
}

.navbar-default .brand{
	text-align: center;
	width: 200px;
	height: 100%;
	color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.navbar-default .brand h1{
	width: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin: 0;
}

.navbar-default .brand img{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.navbar-default .brand img:before{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	width: 0;
	height: 100%;
}

.navbar-default .navbar-nav>li{
	padding: 0; 
	background-color: #2d2d2d;
	border: 1px solid #222;
	height: 61px;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 14px;
	text-shadow: none;
}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li:hover>a{
	border-bottom: 4px solid #de0031;
	color: #fff;
}

.navbar-default .navbar-nav>li>a>i{
	display: inline-block;
}

.navbar-default .navbar-nav>li>a>i.fa-home{
	font-size: 24px;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover{
	background: #2d2d2d;
	color: #fff;
}

.navbar-default .navbar-nav>li.profile:hover>a,
.navbar-default .navbar-nav>li.profile>a{
	border: none;
}

.navbar-default .navbar-nav>li.profile>a{
	padding: 8px;
}

.navbar-default .profile>a>img{
	display: inline-block;
	width: 45px;
}

.navbar-nav>li>a {
	padding: 20px 10px;
	height: 100%;
}

.all-nav{
	width: calc(100% - 200px);
	display: inline-block;
	vertical-align: top;
}

/*profile popover*/
header nav ul li.profile .popover {
	top: 60px !important;
	left: -470px !important;
	max-width: 1000px;
	margin: 0;
	padding: 15px;
	background: #222222;
	border-radius: 0;
	border: none;
}

header nav ul li.profile .popover.bottom > .arrow {
	display: none;
}


header nav ul li.profile .popover .popover-content{
	padding: 0;
	background: #222222;
	text-align: center;
	color: #fff;
	font-size: 13px;
	text-align: left;
	width: 600px;
}

header nav ul li.profile .popover .popover-content .prof-pic{
	position: relative;
	float: left;
	vertical-align: top;
	width: 100px;
	height: 100px;
}

header nav ul li.profile .popover .popover-content .prof-pic .upload-pic{
	opacity: 0;
	display: none;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic{
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,.3);
	background-image: url(../../images/ui/camera_icon.svg);
	background-position: center 30px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	font-size: 13px;
	text-align: center;
	color: #fff;
	opacity: 1;
	cursor: pointer;
	transition: .5s;
}


header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic:hover{
	background-color: rgba(0,0,0,.7);
	transition: .5s;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic:before{
	opacity: 0;
	display: block;
	padding-top: 60px;
	content: "Upload Photo";
	transition: .5s;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic:hover:before{
	opacity: 1;
	transition: .5s;
	
}

header nav ul li.profile .popover .popover-content .info-container,
header nav ul li.profile .popover .popover-content .info-edit{
	float: left;
	vertical-align: top;
	margin-left: 15px;
}

header nav ul li.profile .popover .popover-content .info-container table tbody tr td,
header nav ul li.profile .popover .popover-content .info-edit  table tbody tr td{
	padding: 5px 0;
	min-width: 200px; 
}

header nav ul li.profile .popover .popover-content .info-container table tbody tr td.prof-name{
	font-size: 18px;
	font-weight: 700;
}

header nav ul li.profile .popover .popover-content .info-container>div a.edit-profile{
	text-decoration: none;
	color: #10ac00;
}

header nav ul li.profile .popover .popover-content .info-container>div a.edit-profile:hover{
	text-decoration: none;
	border-bottom: solid 1px #10ac00;
}

header nav ul li.profile .popover .popover-content .info-edit{
	display: none;
}

header nav ul li.profile .popover .popover-content .info-edit table tbody tr td input[type=text],
header nav ul li.profile .popover .popover-content .info-edit table tbody tr td input[type=email],
header nav ul li.profile .popover .popover-content .info-edit table tbody tr td input[type=password]{
	width: 190px;
	color: #333;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container{
	display: block;
	height: 34px;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container a,
header nav ul li.profile .popover .popover-content .info-edit .btn-container button{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container a{
	text-decoration: none;
	color: #de0031;
	margin-top: 8px;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container a:hover{
	color: red;
	text-decoration: none;
	border-bottom: solid 1px red;
}



/*FOOTER*/
footer{
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	color: #414141;
}

footer > div{
	position: relative;
	padding: 15px 0 10px;
}

footer > div > a.c-logo,
footer > div > p.powered{
	display: inline-block;
	vertical-align: bottom;
	letter-spacing: 1px;
}

footer > div > p.powered{
	margin: 0;
	font-size: 10px;
}

footer > p{
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 5px;
}

/*BREADCRUMBS*/
.breadcrumbs ul{
	list-style-type: none;
	margin: 0 0 30px 0;
	padding: 0;
}

.breadcrumbs ul li{
	display: inline-block;
}

.breadcrumbs li:last-child{
	font-weight: 600;
}
.breadcrumbs a{
	color: #999 !important;

}
.breadcrumbs a:last-child{
	color: black;
}

/*BUTTONS*/
.btn{
	cursor: pointer;
	font-size: 14px;
	color: #333333;
}

.btn:hover{
	cursor: pointer;
	color: #333333;
}

.btn.btn-link{
	color: #0096ff;
}

.btn.btn-link:hover{
	color: #0096ff;
	text-decoration: underline;
}

.btn.btn-link.red{
	color: #e00033;
}

.btn.btn-link.green{
	color: #10ad00;
}

.btn.btn-link.gray:hover{
	color: #e00033;
	text-decoration: underline;
}

.btn.btn-green{
	background: #10ad00;
	color: #fff;
}

.btn.lg{
	font-size: 20px;
}

/*.btn.sm{
	font-size: 14px;
}*/

.btn.xs{
	font-size: 13px;
}

.btn.btn-green:hover{
	background: #0c8000;
}

.btn.btn-blue{
	background: #0076ad;
	color: #fff;
}

.btn.btn-blue:hover{
	background: #005b86;
}

.btn.btn-red{
	background: #e00033;
	color: #fff;
}

.btn.btn-red:hover{
	background: #a70026;
}

.btn.btn-gray{
	background: #7a7a7a;
	color: #fff;
}

.btn.btn-gray:hover{
	background: #626262;
}

.btn.btn-orange{
	background-color: #dd7302;
	color: #fff;
}

.btn.btn-orange:hover{
	background: #d26e02;
}

.btn-divider {
	display: inline-block;
	margin: 0 10px;
	width: 1px;
	height: 30px;
	background-color: #9b9b9b;
	vertical-align: middle;
}

p.or-divider{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.load-more{
	background-color: transparent !important;
	border: 1px #0076ad solid;
	color: #0076ad;
}

.load-more:hover{
	background-color: #0076ad !important;
	color: white;
}

.green-button{
	background-color: #10ac00;
	border: 1px solid #10ac00;
	padding: 5px 10px;
	color: white;
	border-radius: 3px;
	font-size: 14px;
}

.green-button:hover{
	background-color: #0f9901;
}

.green {
	color: #1fa824;
}
.message .name, .status {
	font-size: 16px;
	font-weight: 700;
}

/*SECTION*/
section{
	padding: 40px 0;
}

section:last-child{
	padding-bottom: 50px;
}

input,
section input.datepicker,
section input{
	border: none;
	padding: 7px 5px; 
	font-size: 14px;
	width: 100%;
	border-radius: 0;
}

/*ODD*/
section.first-child-section {
	margin-top: 20px;
}

section:not(.first-child-section):nth-child(even){
	background: #EFEFEF;

}

section:not(.first-child-section):nth-child(even) input{
	background-color: #dfdfdf;
}

/*EVEN*/

section:not(.first-child-section) {
	margin-top: 0px;
}

section.s-button{
	margin-top: 0;
}

section:not(.first-child-section):nth-child(odd){
	background: #dfdfdf;

}

section:not(.first-child-section):nth-child(odd) input{
	background-color: #fff;
}

/*LABEL INPUT*/
.lbl-input{
	/*margin-bottom: 10px;*/
	font-size: 0;
	margin: 10px;
	/*display: inline-flex;*/
}

.lbl-input *{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.lbl-input.small label{
	width: 80px;
	margin-right: 10px;
}

.lbl-input.small input{
	width: calc(100% - 90px);
}

.lbl-input.medium label{
	width: 140px;
	/*margin-right: 10px;*/
	margin: 0px;
}

.lbl-input.medium input{
	width: calc(100% - 150px);
}

input.sm,
.lbl-input.small input.sm,
.lbl-input.medium input.sm,
.lbl-input.large input.sm{
	width: 150px;
	margin-right: 5px;
}

input.md,
.lbl-input.small input.md,
.lbl-input.medium input.md,
.lbl-input.large input.md{
	width: 250px;
	margin-right: 5px;
}

input.lg,
.lbl-input.small input.lg,
.lbl-input.medium input.lg,
.lbl-input.large input.lg{
	width: 350px;
	margin-right: 5px;
}

input.datepicker{
	background: url('../../images/ui/calendar.png')no-repeat #fff 98% center;
}

section input.white{
	background-color: #fff;
}

input.search{
	/*width: 100%;*/
	overflow: hidden;
	outline: none;
	vertical-align: middle;
	padding: 5px 35px 5px 10px;
	background: url("../../images/ui/magnifying.png") no-repeat 98% center;
	background-color: white !important;
}

/*LABEL P*/
.lbl-p{
	margin-bottom: 10px;
	font-size: 0;
}

.lbl-p *{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.lbl-p.sm label{
	width: 90px;
	margin-right: 10px;
}

.lbl-p.sm p{
	width: calc(100% - 100px);
}

.lbl-p.md label{
	width: 140px;
	margin-right: 10px;
}

.lbl-p.md p{
	width: calc(100% - 150px);
}

.lbl-p p.auto{
	margin-right: 5px;
	width: auto;
}

.lbl-p.lg label{
	width: 140px;
	margin-right: 10px;
}

.lbl-p.lg p{
	width: calc(100% - 170px);
}


/*CHECKBOX*/
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

/*RADIOBUTTON*/
.check-lbl,
.radio-lbl{
	margin-bottom: 10px;
	font-size: 0;
}

.check-lbl *,
.radio-lbl *{
	display: inline-block;
	vertical-align: middle;
}

.check-lbl input[type="checkbox"],
.radio-lbl input[type="radio"]{
	height: 15px;
	width: 15px;
	margin: 0 5px 0 0;
	padding-top: 0;
}

.check-lbl label,
.radio-lbl label{
	font-size: 14px;
	font-weight: 300;
}

/*SELECT*/
.select,
.select2{
	font-size: 0;
}

.select > div,
.select2 > div,
.select label,
.select2 label{
	display: inline-block;
	vertical-align: middle;
}

.select label,
.select2 label{
	margin-right: 10px;
}

.select.sm label,
.select2.sm label{
	width: 90px;
}

.select.md label,
.select2.md label{
	width: 140px;
}

.select.lg label,
.select2.lg label{
	width: 190px;
}

.select.auto label,
.select2.auto label{
	width: auto;
	margin-right: 10px;
}

.select > div.select-dropdown,
.select2 > div.select-dropdown{
	overflow: hidden;
	height: 34px;
	background: url("../../images/ui/select-arrow.png") no-repeat 98% center #fff;
}

.select2 > div.select-dropdown{
	overflow: hidden;
	height: 34px;
	background: url("../../images/ui/select-arrow.png") no-repeat 98% center #eee;
}

.select.xs label,
.select2.xs label{
	width: 70px;
}

.select.xs > div.select-dropdown,
.select2.xs > div.select-dropdown {
	width: calc(100% - 80px);
}

.select.sm > div.select-dropdown,
.select2.sm > div.select-dropdown{
	width: calc(100% - 100px);
}

.select > div.select-dropdown select{
	width: calc(100% + 30px);
	border: none;
	font-size: 16px;
	height: 33px;
	background: transparent;
	padding-right: 30px;
}

.select2 > div.select-dropdown select{
	width: calc(100% + 30px);
	border: none;
	font-size: 16px;
	height: 33px;
	/*background: #eee;*/
	padding-right: 194px;
	font-size: 14px;
}

.select.md > div.select-dropdown,
.select2.md > div.select-dropdown{
	width: calc(100% - 150px);
}

.select.lg > div.select-dropdown,
.select2.lg > div.select-dropdown{
	width: calc(100% - 200px);
}

.select.no-lbl > div.select-dropdown,
.select2.no-lbl > div.select-dropdown{
	width: 100%;
}

/*BOX SHADOW*/
.box-shadow{
	box-shadow: 0 1px 1px #b7b7b7;
	padding: 20px 10px;
	background: #fff;
	margin-bottom: 20px;
}

.box-shadow.sm-pad{
	padding: 10px;
}

.box-shadow.v-pad{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 0;
}

.box-shadow.h-pad{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.box-shadow.no-pad{
	padding: 0;
}

section .box-shadow input{
	background: #ececec;
}

.box-shadow-table{
	box-shadow: 0 1px 1px #b7b7b7;
	margin-bottom: 20px;
}


/*TABLE*/
table.breakdown{
	box-shadow: 0 1px 1px #b7b7b7;
	margin-bottom: 20px;
	background: #fff;
}

table.breakdown thead{
	background: #2d2d2d;
	color: #fff;
}

table.breakdown thead tr th{
	padding: 10px;
	font-weight: 700;
	font-size: 16px;
}

table.breakdown thead tr th.quantity-input{
	width: 150px;
}

table.breakdown thead tr th.price-p{
	width: 150px;
}

table.breakdown tbody tr td{
	padding: 10px;
}

table.breakdown tbody tr:nth-child(even){
	background: #efefef;
}

table.breakdown tbody tr:nth-child(odd) input{
	background: #efefef;
}

table.breakdown tbody tr:nth-child(odd) div.select label{
	font-weight: 400;
}

table.breakdown tbody tr:nth-child(odd) div.select-dropdown.gray,
table.breakdown tbody tr:nth-child(odd) div.select-dropdown{
	background: url("../../images/ui/select-arrow.png") no-repeat 98% center #dfdfdf;
}

table.breakdown tbody tr input{
	text-align: center;
}

table.breakdown tbody tr.total-br{
	background: #fff;
	border-top: 1px dashed #dcdcdc;
	padding-top: 20px;
}

table.breakdown tbody tr.total-br .total-br-price{
	border-top: 1px solid #dcdcdc;
	padding-top: 10px;
}

table.single tbody tr.total-br .total-br-price-white{
	border-top: 1px solid #d6d6d6;
	padding-top: 10px;
}

table.single tbody tr.total-br .total-br-price p{
	font-size: 18px;
	font-weight: 700;
}

table.breakdown tbody tr.total-br .total-br-price p{
	font-size: 18px;
	font-weight: 700;
}

table.breakdown.w-title tbody tr td:first-child{
	padding-left: 25px;
}

table.breakdown.w-title tbody tr td h4{
	margin-left: -15px;
	padding: 0;
}

table.breakdown tbody tr.vm-content td{
	background: #fff;
	padding: 5px 10px;
}

table.breakdown tbody tr.vm-content td:first-child{
	padding-left: 45px;
}

table.breakdown tbody tr.vm-content td:first-child .select{
	display: inline-block;
	vertical-align: middle;
}

table.breakdown tbody tr .select .select-dropdown{
	width: 200px;
}

table.breakdown tbody tr.vm-content td:first-child:before{
	content: "+";
	margin-right: 10px;
}

table.breakdown tbody tr.vm-content:last-child td{
	padding-bottom: 10px;
}

table.breakdown tbody tr p.add{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin: 0 0 0 10px;
	font-weight: 700;
	font-style: italic;
}

/*EDIT IN PLACE*/
.edit-in-place{
	cursor: pointer;
	margin-left: 10px;
	color: #0096ff;
}

.edit-in-place:hover{
	color: #0079ce;
}

/*LINK*/
.lnk-red{
	color: #e00033;
}

.lnk-green{
	color: #10ad00;
}

/*BUTTON SIZES*/

.btn-md{
	width: 45%;
}

/*Filter NAV*/
ul.filter-nav{
	margin: 20px 0;
	padding: 0;
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

ul.filter-nav li{
	padding: 0 15px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	position: relative;
}

ul.filter-nav li:last-child,
ul.filter-nav li:first-child{
	padding: 0 5px;
}

ul.filter-nav.two li:last-child,
ul.filter-nav.two li:first-child{
	padding: 0 30px 0 0;
}

ul.filter-nav li a p{
	cursor: pointer;
	color: #636363;
	font-size: 16px;
	position: relative;
	text-decoration: none;
}

ul.filter-nav li.active p{
	color: #2d2d2d;
	font-weight: bold;
	border-bottom: 4px solid #de0031;
}

ul.filter-nav li:hover p{
	border-bottom: 4px solid #de0031;
	cursor: pointer;
}

ul.filter-nav li:hover{
	text-decoration: none;
}
ul.filter-nav li p span {
    background: #008a00;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    /*right: -17px;*/
    text-align: center;
    top: -8px;
    width: 20px;
}

/*FILTER COMPANY*/
ul.filter-company{
	margin: 2px 0;
	padding: 0;
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

ul.filter-company li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	width: 80px;
	padding: 5px;
}

ul.filter-company li img{
	cursor: pointer;
}

ul.filter-company li:first-child{
	margin-left: 0;
}

ul.filter-company li:last-child{
	margin-right: 0;
}

ul.filter-company li:hover,
ul.filter-company li.active{
	background: #dcdcdc;
}

section:nth-child(odd) ul.filter-company li:hover,
section:nth-child(odd) ul.filter-company li.active{
	background: #efefef;
}


/*FILTER SORT*/
.filter-sort{
	display: inline-block;
	vertical-align: middle;
}

.filter-sort *{
	display: inline-block;
	vertical-align: middle;
}

.filter-sort label{
	margin-right: 10px;
	font-weight: 300;
}

.filter-sort ul{
	padding: 0;
	margin: 0;
}

.filter-sort ul li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px 0 0;
	cursor: pointer;
}

.filter-sort ul li:hover{
	font-weight: 700;
}

.filter-sort ul li.active{
	font-weight: 700;
}

.filter-sort ul li:after{
	content: "|";
	margin-left: 5px;
}

.filter-sort ul li:last-child:after{
	content: "";
}

/*ITEM PANEL*/
.item-panel{
	font-size: 0;
	position: relative;
	min-height: 130px;
}

.item-panel > div{
	display: inline-block;
	vertical-align: top;
}

.item-panel .image{
	width: 130px;
	height: 130px;
	margin-right: 10px;
	background: #dfdfdf; /*COMMENT AFTER IMAGE HAS TAKEN OVER :D*/
}

.item-panel .image img{
	max-width: 130px;
	max-height: 130px;
}

.item-panel div.price{
	width: calc(35% - 75px);
	font-size: 14px;
}

.item-panel .desc{
	width: calc(65% - 75px);
	font-size: 14px;
	margin-right: 10px;
}

.item-panel .desc ul{
	font-size: 14px;
	margin: 0 0 0 10px;
	padding: 0 0 0 15px;
}

.item-panel.no-image div.image{
	display: none;
}

.item-panel.no-image .desc{
	width: calc(70% - 10px);
}

.item-panel.no-image div.price{
	width: 30%;
}

.item-panel div.price p{
	margin-bottom: 0;
}

.item-panel div.price p.sub{
	margin-top: -3px;
	font-size: 12px;
}

.item-panel div.price a.lnk-red{
	margin-top: 10px;
	display: block;
}

.item-panel p.title{
	font-weight: 700;
	font-size: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-panel p.quality,
.item-panel p.price{
	font-size: 24px;
	font-weight: 700;	
}

.item-panel .absolute-link{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.item-panel .absolute-link a{
	font-size: 14px;
}

.billing-price{
	font-size: 21px;
}

/*VERTICAL ALIGN*/
.inline-block{
	display: inline-block;
}

.v-top{
	vertical-align: top;
}

.v-middle-all *,
.v-middle{
	vertical-align: middle;
}

.v-bottom{
	vertical-align: bottom;
}

span.text-gray {
	color: #999;
	font-size: 12px;
	margin-right: 5px;
	vertical-align: top;
}

/*CSS ADDED 20141219*/
.tabs-panel ul.nav-tabs li a{
	margin-right: 2px;
	border-radius: 0;
	padding: 10px 15px;
	background: #cfcfcf;
	color: #555;
	border: 0;
	margin-top: 5px;
}

.tabs-panel ul.nav-tabs li.active a:focus,
.tabs-panel ul.nav-tabs li.active a:hover{
	border: 0;
}

.tabs-panel ul.nav-tabs li a:hover{
	background: #c0c0c0;
}

.tabs-panel ul.nav-tabs li.active a{
	padding-top: 15px;
	margin-top: 0px;
	background: #fff;
}

.tabs-panel .tab-content{
	background: #fff;
	color: #555;
	padding: 10px;
}

.tabs-panel .tab-content input{
	background: #efefef;
}

.tabs-panel .tab-content .select-dropdown{
	background: url("../../images/ui/select-arrow.png") no-repeat 98% center #efefef;
	width: calc(100% - 90px);
}

.tabs-panel .tab-content .select-dropdown.select-dropdown select,
.tabs-panel .tab-content .select-dropdown select{
	padding-right: 53px;
}

.scrollbar-max-height{
    max-height: 450px;
    overflow: auto;   
}

/* Ivan */

[data-mode='view'] [data-action='edit']
{
	display: none;
}

[data-mode='edit'] [data-action='view']
{
	display: none;
}

.form-control-feedback, .form-error-user-list {
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    color: #DE0031;
}

.form-control-feedback {
    margin-top: -1px;
    right: 11px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.form-error-user-list {
    margin-top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
}

.relative {
    position: relative;
}

/*[data-template] {
    display: none;
}*/

.error-input {
    border: 1px solid #DE0031 !important;
}

.error-input-duplicate {
	border: 1px solid #DE0031 !important;
}

.right-5 {
    right: 5px;
}

[data-model="user_list_row"][data-mode] [data-action] > [data-button] {
    padding: 0;
}

[data-model="user_list_row"][data-mode] [data-action] > .btn-divider {
    height: 15px;
    margin: 0 5px;
}

.fullname-holder input {
    height: 23px;
    margin-left: 15px !important;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
}

.fullname-holder {
    margin-bottom: 9px;
}

.details-holder input{
    height: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}

.fullname-holder input, .details-holder input, .details-holder select {
    background-color: #fff !important;
    border: 1px solid #EDEDED;
}

.details-holder select {
    width: 144px;
    height: 20px;
}

.details-holder .form-error-user-list {
    line-height: 18px;
    width: 18px;
    height: 18px;
}

div[data-model='list_row']:nth-child(even) {
	padding-left: 8px
}

div[data-model='list_row']:nth-child(odd) {
	padding-right: 8px
}

[data-template] {
	display: none;
}

div#loader {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

div#loader .content {
    background: none repeat scroll 0 0 #de0031;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px;
    width: 150px;
}


[data-button],[data-client-modal],[data-object='product']
{
	cursor: pointer;
}

[data-button="accountant"][data-selected="1"],[data-client-modal][data-selected="1"]
{
	background: #e47611;
	color: #fff;
}

.user div[data-button="accountant"] {
	padding-bottom: 0px;
}

[data-action-view=email_address] {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.select-dropdown.light-gray-bg {
    background: url("../../images/ui/select-arrow.png") no-repeat 98% center #ECECEC;
}

.no-margin-right {
    margin-right: 0 !important;
}

.right-0 {
    right: 0;
}

.line-height-36 {
    line-height: 36px;
}

.add-contact {
    color: #26AD00;
}

.remove-contact {
    color: #E00033;
}

.add-contact, .remove-contact {
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px !important;
}

.cloned-contact {
    display: block !important;
    margin-top: 10px !important;
}

.clear-both {
    clear: both !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.bg-white {
    background-color: #fff !important;
}

.feedback-textarea {
    margin: 0px;
    width: 285px;
    min-width: 285px;
    max-width: 285px;
    height: 135px;
    max-height: 135px;
    min-height: 135px;
    border: 1px solid #FFF;
    font-size: 14px;
}

[data-sort="asc"]::after{
    content: "\f0de \a|" !important;
}

[data-sort="desc"]::after{
    content: "\f0dd \a|" !important;
}

.filter-sort ul li[data-sort="asc"]:last-child::after {
    content: "\f0de" !important;
}

.filter-sort ul li[data-sort="desc"]:last-child::after {
    content: "\f0dd" !important;
}

.sorting::after{
    margin-left: 6px !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #6B6B6B;
}

#sorter li:not(:last-child):not(.sorting):hover::after,
.sorter li:not(:last-child):not(.sorting):hover::after
{
    content: "\f0dc \a|" !important;
    margin-left: 6px !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #6B6B6B;
}

#sorter li:last-child:not(.sorting):hover::after,
.sorter li:last-child:not(.sorting):hover::after
{
    content: "\f0dc \a" !important;
    margin-left: 6px !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #6B6B6B;
}

.has-search{
    cursor: pointer;height: 32px;
    width: 40px;
    display: inline-block;
    position: absolute;
    right: 0;
    background: #fff url("../../images/ui/magnifying.png") no-repeat 0 0;
	z-index: 1;
}

.has-search:hover{
    opacity: .5;
}

.remove-search-icon {
    background: none !important;
}

[template] {
    display: none;
}

[data-field="ticket_table"] [data-ticket-id] > table tr td:nth-child(odd) {
    min-width: 245px;
    max-width: 250px;
}

[data-field="ticket_table"] [data-field="subject"] {
    width: calc(100% - 115px) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.profile div.profile_menu {
	display: none;
	background: #2D2D2D;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    border-bottom: 4px solid #de0031;
}

li.profile div.profile_menu h5 a {
	color: #FFF;
}

.display_none {
	display: none;
}
.tab-content > .tab-pane.active {
    background: #FFFFFF;
}

[data-item-selected], [data-item-selected] a {
	background: #e2a042;
	color: #fff;
}


.select > div.select-dropdown select,
.select2 > div.select-dropdown select{
	width: calc(100% + 30px);
	border: none;
	font-size: 16px;
	height: 33px;
	background: transparent;
	padding-right: 30px;
}

.select2 > div.select-dropdown select{
	width: calc(100% + 30px);
	border: none;
	height: 33px;
	font-size: 14px;
}

.select2 > div.select-dropdown.custom-width select{
	width: 230px;
	max-width: 230px;
	background: #ECECEC;
}

.select > div.select-dropdown select > option, 
.select2 > div.select-dropdown select > option {
	display: block;
}

.ui-autocomplete-multiselect-item {
	display: inline-block;
	margin-left: 5px;
	margin-right: 13px;
	position: relative;
}


.ui-icon.ui-icon-close {
	display: inline-block;
	position: absolute;
	right: -19px;
}
/*profile popover*/
header nav ul li.profile .popover {
	top: 60px !important;
	max-width: 1000px;
	margin: 0;
	padding: 15px;
	background: #222222;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #B6B6B6;
	display: block;
	right: 0px;
	left: auto;
	width: 560px;
	min-height: 170px;
}

header nav ul li.profile .popover.bottom > .arrow {
	display: none;
}

header nav ul li.profile .popover .popover-content{
	padding: 0;
	background: #222222;
	color: #fff;
	font-size: 13px;
	text-align: left;
	width: auto;
}

header nav ul li.profile .popover .popover-content .prof-pic{
	position: relative;
	float: left;
	vertical-align: top;
	width: 100px;
	height: 100px;
}

header nav ul li.profile .popover .popover-content .prof-pic .upload-pic{
	opacity: 0;
	display: none;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic{
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,.3);
	background-image: url(../../images/ui/camera_icon.svg);
	background-position: center 30px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	font-size: 13px;
	text-align: center;
	color: #fff;
	opacity: 1;
	cursor: pointer;
	transition: .5s;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic:hover{
	background-color: rgba(0,0,0,.7);
	transition: .5s;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic:before{
	opacity: 0;
	display: block;
	padding-top: 60px;
	content: "Upload Photo";
	transition: .5s;
}

header nav ul li.profile .popover .popover-content .prof-pic.edit .upload-pic:hover:before{
	opacity: 1;
	transition: .5s;

}

header nav ul li.profile .popover .popover-content .info-container,
header nav ul li.profile .popover .popover-content .info-edit{
	float: left;
	vertical-align: top;
	margin-left: 15px;
}

header nav ul li.profile .popover .popover-content .info-container table tbody tr td,
header nav ul li.profile .popover .popover-content .info-edit  table tbody tr td{
	padding: 5px 0;
	min-width: 200px;
}

header nav ul li.profile .popover .popover-content .info-container table tbody tr td.prof-name{
	font-size: 18px;
	font-weight: 700;
}

header nav ul li.profile .popover .popover-content .info-container>div a.edit-profile{
	text-decoration: none;
	color: #10ac00;
}

header nav ul li.profile .popover .popover-content .info-container>div a.edit-profile:hover{
	text-decoration: none;
	border-bottom: solid 1px #10ac00;
}

header nav ul li.profile .popover .popover-content .info-edit{
	display: none;
}

header nav ul li.profile .popover .popover-content .info-edit table tbody tr td input[type=text],
header nav ul li.profile .popover .popover-content .info-edit table tbody tr td input[type=email],
header nav ul li.profile .popover .popover-content .info-edit table tbody tr td input[type=password]{
	width: 190px;
	color: #333;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container{
	display: block;
	height: 34px;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container a,
header nav ul li.profile .popover .popover-content .info-edit .btn-container button{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container a{
	text-decoration: none;
	color: #de0031;
	margin-top: 8px;
}

header nav ul li.profile .popover .popover-content .info-edit .btn-container a:hover{
	color: red;
	text-decoration: none;
	border-bottom: solid 1px red;
}

header nav ul li.profile .popover > .arrow {
	display: none;
}

div.logout-container {
	width: 558px;
	position: absolute;
	height: 57px;
	right: 0px;
	top: 228px;
	background: #222;
	padding: 0 21px;
}

a.logout-link {
	margin: 11px 0;
	text-decoration: none;
	cursor: pointer;
}

a.logout-link {
	color: #fff;
}

.red-button {
	background-color: #B00;
	border: 1px solid #B00;
	padding: 6px 12px;
	color: #FFF;
	border-radius: 3px;
	font-size: 14px;
}

.red-button:hover{
	background-color: #90000C;
	border: 1px solid #90000C;
}

.ajax-loader{
	position: absolute;
	width: 100%;
	background: rgba(34, 34, 34, 0.64);
	height: calc(100% - 30px);
	z-index: 1;
	cursor: progress;
	max-width: 524px;
}

.ajax-loader > div{
	display: block;
	vertical-align: middle;
	width: 155px;
	margin: auto;
	text-align: center;
	height: 100%;
	line-height: 11em;
	font-size: 20px;
	color: #E8E8E8;
}

.ajax-loader > div > i.fa{
	font-size: 20px;
	color: #34942C;
	margin-right: 10px;
}

/*end of profile popover*/

/*disable selection of text*/
.filter-sort ul li, .ajax-loader > div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline-style:none;/*IE*/
}

.cancel-edit {
	background: #222;
	border: none;
	padding: 8px;
}

.cancel-edit:focus{
	outline: 0;
}
.cancel-edit span {
	color: #DE0031;
}

.cancel-edit span:hover {
	border-bottom: 1px solid #F00;
	color: #F00;
}

.prof-pic > input[type=file] {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: -1;
}

#upload_pic_con {
	min-height: 100px;
	max-height: 100px;
	max-width: 100px;
	min-width: 100px;
}

.ajax-loader > div > i.fa.fa-exclamation-circle {
	color: red !important;
}

.email-holder{
	overflow: hidden;
	text-overflow: ellipsis;
}

.lbl-input.medium.departments-checkbox > label {
	width: auto;
	padding:5px;
}

[disabled] {
	cursor: not-allowed;
}

.datepicker, a.remove { 
	cursor: pointer;
}

.no-point-event {
    pointer-events: none;
    color: #AFAFAF;
}

[template]
{
	display:none;
}

.unavailable {
	background : #CCC;
	cursor: not-allowed;
	display:none !important;
}

.form-control-feedback-xs {
	float: right;
	font-size: 14px;
	height: 34px;
	left: -300px;
	line-height: 34px;
	margin-top: 0;
	position: relative;
	width: 34px;
	color: #F00;
}

@media print {
	th {
		border: 1px black solid;
	}
	button {
		display: none !important;
	}
}

.red {
	color: #ca000a;
}

.assigned-clients.btn {
    margin: 3px;
}

.padding-input-12 {
	padding: 7px 12px; !important;
}

.customized-input {
	width: calc(100% - 90px);
}

.customized-input-2 {
	width: calc(100% - 105px);
}

ul.dropdown-menu li a {
	padding: 8px 12px !important;
}



.dropdown-menu-header-tabs {
	background-color: #2d2d2d;
	text-align: left;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #222222 !important;
	color: white;
	background-image: -webkit-linear-gradient(top,#222222 0,#222222 100%);
	background-image: linear-gradient(to bottom,#222222 0,#222222 100%);
	background-repeat: repeat-x;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #2d2d2d;
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent; !important;
    color: #fff; !important;
}