.report-list > div{
	margin-bottom: 20px;
	position: relative;
}

.report-list > div > div{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.report-list > div .desc{
	width: calc(100% - 150px);
	font-size: 0px;
}

.report-list > div .desc .report-table{
	width: calc(100% - 180px);
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.report-list > div .desc .report-table table tbody tr td{
	width: 50%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td .lbl-p{
	margin-bottom: 5px;
}

.report-list > div .desc .total{
	width: 170px;
	display: inline-block;
	vertical-align: middle;
}

.report-list > div .desc .total p,
.report-list > div .desc .total span.price,
.report-list > div .desc .total span.price-php
{
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.report-list > div .desc .total p.price, .report-list > div .desc .total span.price{
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 0;
}

.report-list > div .desc .total p.price span, .report-list > div .desc .total span.price-php{
	font-size: 16px;
}

.report-list > div .desc .total div{
	display: inline-block;
	vertical-align: middle;
}

.report-list > div .desc .total:after{
	width: 0;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	content: "";
}

.report-list > div .status{
	width: 150px;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	text-align: center;
	color: #fff;
}

.report-list > div .status div{
	display: inline-block;
	vertical-align: middle;
}

.report-list > div .status p{
	margin-bottom: 0;
}

.report-list > div .status:after{
	width: 0;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	content: "";
}

.report-list > div .status p.status-p{
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
} 

.report-list > div .status p.status-p span{
	font-size: 16px;
	display: block;
} 

.report-list > div .status.green{
	background: #09b700;
}

.report-list > div .status.gray{
	background: #8f8f8f;
}

.report-list > div .status.red{
	background: #de0031;
}

.report-list > div .status.black{
	background: #2f2f2f;
}

.report-list > div .status.orange{
	background: #ec7a11;
}

span.text-gray{
	color: #999;
	font-size: 12px;
	margin-right: 5px;
	vertical-align: top;
}


