.c-logo{
	width: 100%;
	text-align: center;
	background-color: #dfdfdf;
	padding: 10px;
	position: relative;
	height: 200px;
	/*margin-bottom: 10px;*/
}

.c-logo img{
	margin: 0 auto;
	height: 180px;
	max-height: 180px;
}

.c-logo p{
	font-size: 20px;
	margin-top: 55px;
}

.border-bottom-dashed{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #adadad;
}

.bg{
	background: #f1f1f1;
}
.c-logo {
	cursor: pointer;
}

.input-with-error {
	border: 1px solid #ff360e;
}

.peso-sign-for-limit-amount {
    border-radius: 0;
    width: 45px;
    padding: 10px;
    border: none;
}

span.span-hold {
	display: inline-block;
	font-size: 15px;
	color: red;
	margin:5px
}

div.hold {
	height:35px;
}