
/* 

	Login CSS
*/

body{
	/*background: url("../images/photo-login-bg.jpg") repeatrepeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background-color: #F2F1F0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
}
	
#wrapper_login
	{
	left: 50%;
    margin: -290px auto auto -280px;
    position: absolute;
    top: 50%;
    width: 520px
	}
	

	
#logo_login
	{
	text-align: center;
	margin-bottom: 20px;
	}

#form-container {
    height: auto;
    margin: 5em auto 0;
    width: 480px;
}


.copyright {
    color: #262626;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0px auto 40px auto;
}

#bottom{
	color:#262626;
	text-align:center;
}


#form_login {
   background: none repeat scroll 0 0 #de0031;
    border: 1px solid #B4BEC1;
    /*box-shadow: 0 0 6px 1px #D6D6D6;*/
    font-weight: normal;
    margin-left: 8px;
   padding: 30px 33px;
}

#form_login .forgetmenot {
    float: left;
    font-weight: normal;
    margin-bottom: 0;
}

.button-primary {
    background-color: #222222;
    -moz-border-radius: 11px 11px 11px 11px;
    border: none;
    cursor: pointer;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 12px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
	width: 300px;
	margin-left: 10px;	
}

.button-primary:hover{
    background-color: #2d2d2d;
}

.button-primary {
	color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}


.input{
    color: #2c2c2c;
	margin: 0;
}


#login form p {
    margin-bottom: 0;
}

label {
    color: #FFF;
    font-size: 13px;
}


#nav {
    text-shadow: 0 1px 0 #FFFFFF;
}

#login {
    margin: 7em auto;
    width: 320px;
}
#login_error, .message {
    -moz-border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 16px 8px;
    padding: 12px;
}

body form .input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #CCC;
    font-size: 16px;
    height: 39px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px;
    width: 97%;
    color: #3A414E;
}

.clear {
    clear: both;
}

/*Pajinate*/
.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#DB5C04;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

footer > div.width_960 {
    margin: 0 auto;
}

section > div.width_960, footer > div.width_960 {
    background-color: #FFFFFF;
}

footer a {
    color: #3A414E;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    margin: 1em;
    text-align: center;
    text-decoration: none;
}


footer p {
    color: #3A414E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
}

section {
    background: url("../../../images/login_bg.jpg") no-repeat !important;
    height: 90% !important;
    background-position: center top !important;
    /*background-image: url('photo-login-bg.jpg') !important;*/
    /*background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    *//*background-repeat: repeat-x !important;*//*
    background-color: #cccccc;
    margin: 0;
    padding: 2em 0;
    width: 100%;*/
}

/*.footer_panelbox {
    line-height: 20px;
}
.footer_panelbox {
    color: #979797;
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
}*/