.report-list > div .desc .report-table table tbody tr td{
	vertical-align: top;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(1){
	width: 28%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(2){
	width: 28%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(3){
	width: 32%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(4){
	width: 36%;
	padding-right: 10px;
}

.lbl-p.md label {
	width: 110px;
	margin-right: 10px;
}

.lbl-p.md p {
	width: calc(100% - 120px);
}

.report-list p.title {
	font-weight: 700;
	font-size: 16px;
}