.sub-link{
	color: #333;
	font-size: 14px;
	padding-left: 0;
}

.sub-link.active{
	font-weight: 800;
	border-bottom: 3px #de0031 solid;
	padding-bottom: 2px;
}

.spans span{
	margin: 0 5px;
}

.filter ul{
	list-style-type: none;
}

.filter li{
	display: inline-block;
}

.filter a{
	color: #333;
}
.filter li.active{
	font-weight: 600;
}
.filter li span{
	font-weight: normal;
}

.dropdown-menu{
	padding: 0 0;
}

ul.dropdown-menu li{
	border-bottom: solid 1px #222222;
	
}

ul.dropdown-menu li a{
	padding: 8px 12px !important;
}

.dropdown-menu>li>a {
	color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #222222 !important;
	color: white;
	background-image: -webkit-linear-gradient(top,#222222 0,#222222 100%);
	background-image: linear-gradient(to bottom,#222222 0,#222222 100%);
	background-repeat: repeat-x;
}
/*.select{
	display: inline-block;
	width: 100%;
	/*border: solid 1px #0a131a;*/
	/*background-color: white !important;
	overflow: hidden;
	outline: none;
	vertical-align: middle;
	background: url("../../../images/ui/select-arrow.png") no-repeat 95% center;
	padding: 5px 10px;
}*/

.select span{
	padding-right: 45px;
	font-size: 14px;
}

.dropdown ul li{
	border-bottom: 1px solid #222222;
}

.open>.dropdown-menu {
	border-radius: 0px;
}

.sub-menu{
	border-radius: 0px;
	left: 13px !important;
	width: 91% !important;
	background-color: #2d2d2d;
}
.sub-menu1{
	border-radius: 0px;
	left: 420px !important;
	width: 34% !important;
	top: 74px;
	background-color: #2d2d2d;
}

.sub-menu3{
	border-radius: 0px;
	left: 0px !important;
	width: 20% !important;
	background-color: #2d2d2d;
}

.sub-menu4{
	left: 45px !important;
	background-color: #2d2d2d;
	background-color: #2d2d2d;
}

.sub-menu5{
	left: 422px !important;
	top: 31px;
	background-color: #2d2d2d;
}

.sub-menu6{
	left: 118px !important;
	width: 25% !important;
	top: 271px;
	background-color: #2d2d2d;
}

.sub-menu7{
	left: 80px !important;
	width: 25% !important;
	top: 404px;
	background-color: #2d2d2d;
}

.form label{
	font-weight: 100;
	padding-top: 4px;
}

.green-button{
	background-color: #10ac00;
	border: 1px solid #10ac00;
	padding: 6px 12px;
	color: white;
	border-radius: 3px;
	font-size: 14px;
}

.green-button:hover{
	background-color: #0f9901;
}

.client-box{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
}

.client-box img{
	/*height: 100px;*/
	height: 100%;
	margin: 5px auto;
}

.client{
	font-weight: 600;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}

a.client:hover{
	color: #333;
}

.client-box ul{
	display: block;
}

.client-box ul li{
	list-style: none;
}

.client-box ul li span{
	margin: 0px 3px;
	color: darkgray;
}

.border-bottom{
	border-bottom: 2px #d1d1d1 solid;
	width: 93%;
}

/*.side-opt{
	padding-left: 66px;
}*/

.side-opt ul{
	padding-left: 40px;
}

.side-opt ul li{
	margin: 7px;
	text-align: left;
}

.prod-box{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
	font-size: 14px;
}

.prod-box p:first-child{
	font-weight: 600;
	font-size: 16px;
}

.prod-box ul{
	padding-left: 20px;
}


.prod-select{
	width: 150px !important;
	margin-right: -9px;
}

.padding-right-reset{
	padding-right: 0;
}

.margin-left-5{
	margin-left: 7px;
}

.margin-right-15{
	margin-right: -16px;
}

.margin-bottom-15{
	margin-bottom: 15px;
}
.sup-menu ul{
	list-style-type: none;
}

.sup-menu li{
	display: inline-block;
	width: 10%;
	padding-left: 0 !important;
	text-align: center;
	padding: 5px 5px;
}

.sup-menu li a{
	color: #333;
}

.sup-menu li.active{
	color: #fff;
	background-color: #de0031;
}

.sup-menu ul li:hover{
	color: #fff;
	background-color: #de0031;	
}

.sup-menu ul li:hover a{
	color: #fff;
	text-decoration: none;
}

.sup-menu li.active a{
	color: #fff;
	text-decoration: none;
}

.sup-menu li span{
	margin: 0 2px;
}

.padding-botop-reset{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.padding-top-reset{
	padding-top: 0 !important;
}

.padding-15{
	padding-top: 15px;
	padding-bottom: 15px
}

.hold{
	max-height: 100px; 
}

.cancel-btn{
	vertical-align: -webkit-baseline-middle;
}

.top{
	margin-top: 8px;
}

.user-box{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
}

.user-box img{
	height: 60px;
/*	margin: 5px auto;*/
}

.user-box p:first-child{
	font-weight: 600;
	font-size: 16px;
}

.user-box ul{
	display: block;
	padding-left: 0 !important;
}

.user-box ul li{
	list-style: none;
}

.user-box ul li:first-child{
	font-weight: 600;
}

.user-box ul li span{
	margin: 0px 3px;
	color: darkgray;
}

.order-box{
	background-color: white;
	padding: 15px 10px;
	box-shadow: 0 1px 1px #999;
}
.labels li{
	font-weight: 700;
}

.order-box ul{
	display: block;
	padding-left: 0 !important;
}

.order-box ul li{
	list-style: none;
}

.order-box li span{
	font-weight: normal;
}


.orders td{
	border-top: 0 !important;
	padding: 0 0 !important;
}

.orders td:nth-child(odd) {
	font-weight: 700;
}

/*.status{
	color: #0076ad;
}*/

.labels p{
	font-weight: 700;
}

.labels ul li{
	list-style: none;
}

.labels ul{
	padding-left: 0 !important;
}

.details{
	font-weight: normal;
}

.details ul li{
	list-style: none;
}

.details ul{
	padding-left: 0 !important;
}

.padding-right-15{
	padding-right: 15px;
}

.margin-top-0{
	margin-top: 0 !important;
}


/*.subtle-bg{
	background-color: #2d2d2d !important;
	color: #fff;
}*/


/*.meals table tbody td{
	border-top: 0px !important;
}
.meals tbody tr:nth-child(odd){
	background-color: white;
}*/

/*.meals .select:nth-child(odd){
	background-color: white;
}
*/

/*.select > div.select-dropdown.gray {
	overflow: hidden;
	height: 34px;
	background: url("../../images/ui/select-arrow.png") no-repeat 95% center #dfdfdf;
}

.meals:nth-child(even) input{
	background-color: #dfdfdf !important;
}

.meals:nth-child(even) input{
	background-color: white;
}*/

/*MEALS WITH HEADER*/

/*.mealshead table tbody td{
	border-top: 0px !important;
}
.mealshead tbody tr:nth-child(even){
	background-color: white;
}*/

/*.meals .select:nth-child(odd){
	background-color: white;
}
*/

/*.select > div.select-dropdown.gray {
	overflow: hidden;
	height: 34px;
	background: url("../../../images/ui/select-arrow.png") no-repeat 95% center #dfdfdf;
}*/

/*section table.mealshead tbody tr:nth-child(odd) input {
	background-color: #fff;
}

section table.mealshead tbody tr:nth-child(even) input {
	background-color: #dfdfdf;
}*/

.input-gray{
	background-color: #dfdfdf;
}

.width-50{
	width: 51%;
}

.width-30{
	width: 30% !important;
}

.meals tbody tr td{
	vertical-align: middle;
}

thead.header{
	font-weight: 700;
	background-color: white;
}
section:nth-child(even) input {
	margin: 0 auto;
}

.sub-pref{
	text-indent: 1em;
}

.margin-left-58{
	margin-left: 58px;
	font-style: italic;
}

.meals .select{
	border: 0 !important;
}

.gray-sel{
	background-color: #dfdfdf !important;
}

.breakdown ul li{
	list-style-type: none;
}

.breaklab{
	font-weight: 700;
}

textarea{
	resize: none;
	width: 100%;
	border: 0 !important;
	padding: 5px 7px;
}

.white-bg-in{
	background-color: #fff !important;
}


.radio-btn{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.check-bx{
	width: 15px;
	height: 15px;
	vertical-align: sub;

}

/*STATUS*/
.delivered{
	background-color: #09b700;
}

.processed{
	background-color: #b66200;
}

.received{
	background-color: #0185b6;
}

.overdue{
	background-color: #de0031; 
}

.delivered, .processed, .received, .overdue{
	color: #fff;
}

.overdue p:nth-child(odd), .received p:nth-child(odd), .processed p:nth-child(odd), .delivered p:nth-child(odd){
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0 !important;
	margin-top: 10px;

}

.overdue p:nth-child(even), .received p:nth-child(even), .processed p:nth-child(even), .delivered p:nth-child(even){
	font-size: 19px;
	font-weight: 700;
}

.time{
	color: #999;
	font-size: 12px;
	margin-right: 5px;
	vertical-align: top;
}

.padding-botop-add{
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-right-10-res{
	padding-right: 0 !important;
}




.order{
	width: calc(100% - 150px);
	display: inline-block;
	vertical-align: middle;
}

/*.status{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	position: absolute;
}*/

.ord-price{
	font-size: 20px;
}

.width-18{
	width: 18%;
}

.btn-divider {
	display: inline-block;
	margin: 0 10px;
	width: 1px;
	height: 30px;
	background-color: #9b9b9b;
	vertical-align: middle;
}

.margin-bottom-0{
	margin-bottom: 0;
}


.ord-title{
	font-weight: 600;
}

.padding-bottom-reset{
	padding-bottom: 0 !important;
}

.margin-right-15{
	margin-right: 15px;
}

.padding-top-15{
	padding-top: 15px;
}

.product-list{
	font-size: 0;
}

.product-list > div{
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-right: 1%;
	margin-left: 1%; 
}

ul.filter-nav.reset{
	margin: 0 0 !important;
}

.width-25{
	width: 25%;	
}

.width-50{
	width: 50%
}

.width-45{
	width: 45%
}

.margin-top-10{
	margin-top: 10px;
}

.help-text{
	font-style: italic;
}

.reset-label{
	font-weight: normal;
}

.padding-left-8{
	padding-left: 8px;
}

.padding-right-8{
	padding-right: 8px;
}

.margin-right-48{
	margin-right: -48px;
}