.c-logo{
	width: 100%;
	text-align: center;
	background-color: #dfdfdf;
	padding: 10px;
	position: relative;
	height: 200px;
	margin-bottom: 10px;
}

.c-logo img{
	margin: 0 auto;
	height: 180px;
	max-height: 180px;
}

.c-logo p{
	font-size: 20px;
	margin-top: 55px;
}

.border-bottom-dashed{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #adadad;
}

.lbl-p{
	margin-bottom: 10px;
	font-size: 0;
}

.lbl-p *{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.lbl-p.sm label{
	width: 90px;
	margin-right: 10px;
}

.lbl-p.sm p{
	width: calc(100% - 100px);
}

.lbl-p.md label{
	width: 140px;
	margin-right: 10px;
}

.lbl-p.md p{
	width: calc(100% - 150px);
}

.lbl-p.md p.auto{
	width: auto;
	margin-right: 5px;
}

/*VERTICAL ALIGN*/
.v-top{
	vertical-align: top;
}

.v-middle-all *,
.v-middle{
	vertical-align: middle;
}

.v-bottom{
	vertical-align: bottom;
}

.report-list > div .desc .report-table table tbody tr td{
	vertical-align: top;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(1){
	width: 30%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(2){
	width: 35%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(3){
	width: 35%;
	padding-right: 10px;
}


.lbl-p.md label {
	width: 110px;
	margin-right: 10px;
}

.lbl-p.md p {
	width: calc(100% - 120px);
}

.report-list p.title {
	font-weight: 700;
	font-size: 16px;
}
/*added 3/25/2015 */
.search_stores {
	display: inline-block;
	line-height: 24px;
	margin-left: -35px;
	margin-right: 15px;
	width: 209px;
}

.select.md label.search-assign-store, .select2.md label.search-assign-store {
	width: 90px;
}

.width-assign-store-select {
	width: 67%;
}

/*added 3/26/2015*/

.select.md.select_products {
	display: inline-block;
	width: 60%;
}

.search_products {
	display: inline-block;
	line-height: 25px;
	margin-left: -35px;
	width: 46%;
}

.select.md label.search-assign-products, .select2.md label.search-assign-products {
	width: 90px;
}