/*VERTICAL ALIGN*/
.v-top{
	vertical-align: top;
}

.v-middle-all *,
.v-middle{
	vertical-align: middle;
}

.v-bottom{
	vertical-align: bottom;
}

.report-list > div .desc .report-table table tbody tr td{
	vertical-align: middle;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(1){
	width: 4%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(2){
	width: 35%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(3){
	width: 35%;
	padding-right: 10px;
}
