/*GENERAL*/

html{
	height: 100%;
}

body{
	
}

.clear{
    clear: both;
}

section{
    width: 100%;
    position: relative;
}

.left_panel, .center_panel, .right_panel{
/*    display: inline-block;*/
    float: left;
}

.left_panel, .right_panel{
    width: 18%;
}

.right_panel{
    background: url(../../../images/right_background.jpg) repeat-x;
    background-position: center 0;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    height: calc(100vh - 100px);
    position: relative;
    margin-left: -8%;
    z-index: 2;
}

.left_panel{
    background: url(../../../images/left_background.jpg) repeat-x;
    background-position: center 0;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    height: calc(100vh - 100px);
    margin-right: -8%;
    z-index: 2;
}

.center_panel{
    background: url(../../../images/login_bg.png) no-repeat;
    background-position: center 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: calc(100vh - 100px);
    width: 80%;
    position: relative;
    z-index: 5;
    font-family: "Lato",sans-serif;
    font-size: 14px; !important
    font-weight: 700; !important
    line-height: 1.42857; !important
}

footer{
    background-color: #fff;
}