
.long-horizontal-table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 1200px;
}
.long-horizontal-table table {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 1px #b7b7b7;
    margin-bottom: 5px;
}
.long-horizontal-table table thead tr th:nth-child(2n), .long-horizontal-table table tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #efefef;
}
.long-horizontal-table table thead tr th {
    background-color: #2d2d2d !important;
    border-bottom: 1px solid #2d2d2d;
    color: #fff;
}
.long-horizontal-table table thead tr th, .long-horizontal-table table tbody tr td {
    min-width: 50px;
    padding: 10px;
    text-align: center;
}
