table.audit thead tr th:first-child{
	width: 20%;
}

table.audit thead tr th:nth-child(2){
	width: 40%;
}

table.audit thead tr th:nth-child(3){
	width: 40%;
}

table.audit tbody tr td:first-child,
table.audit thead tr th{
	text-align: center;
}

table.audit tbody tr td{
	vertical-align: top;
}

table.audit tbody tr td p{
	margin: 0 0 5px 0;
}

p.user{
	font-size: 16px;
	font-weight: 700;
}

p.time{
	font-size: 12px;
}

.breakdown.audit > thead th:first-child {
	min-width: 214px;
}

.breakdown.audit > thead th:nth-child(2) {
	min-width: 448px;
}

.breakdown.audit > thead th:last-child {
	min-width: 468px;
}

