.margin-reset{
	margin: 0;
}

.check-lbl{
	margin: 0;
}

table.vat thead tr th:nth-child(1){
	width: 25%;
}

table.vat thead tr th:nth-child(2){
	width: 15%;
}

table.vat thead tr th:nth-child(3){
	width: 8%;
}

table.vat thead tr th:nth-child(4){
	width: 16%; /* 8% */
}

table.vat thead tr th:nth-child(5){
	width: 24%;
}

table.vat thead tr th:nth-child(6){
	width: 20%;
}

table.vat tbody tr td:nth-child(6),
table.vat tbody tr td:nth-child(5),
table.vat tbody tr td:nth-child(4),
table.vat tbody tr td:nth-child(3),
table.vat tbody tr td:nth-child(2){
	text-align: center;
}

table.audit thead tr th:first-child{
	width: 20%;
}

table.audit thead tr th:nth-child(2){
	width: 40%;
}

table.audit thead tr th:nth-child(3){
	width: 40%;
}

table.audit tbody tr td:first-child,
table.audit thead tr th{
	text-align: center;
}

table.audit tbody tr td{
	vertical-align: top;
}

table.audit tbody tr td p{
	margin: 0 0 5px 0;
}

table.vat tbody tr td:nth-child(6) .btn.btn-link.green{
	font-size: 12px;
	padding-left: 0;
	padding-right: 3px;
}

table.vat tbody tr td:nth-child(6) .btn.btn-link.red{
	font-size: 12px;
	padding-right: 0;
	padding-left: 3px;
}

table.vat tbody tr td:nth-child(5) .select > div.select-dropdown select{
	font-size: 12px;
}

p.user{
	font-size: 16px;
	font-weight: 700;
}

p.time{
	font-size: 12px;
}

.business-unit > div{
	margin-bottom: 10px;
	font-size: 0;
}

.business-unit > div p{
	margin: 0;
}

.business-unit > div > div.meal-number >div,
.business-unit > div > div{
	display: inline-block;
	vertical-align: middle;
}

.business-unit > div > div.meal-number >div{
	width: 50%;
}

.business-unit > div > div.company{
	width: 40%;
}

.business-unit > div > div.company p{
	font-size: 16px;
	font-weight: 700;
}

.business-unit > div > div.meal-number{
	width: 50%;
	text-align: center;
	font-size: 0;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

.business-unit > div > div.meal-number p.quantity{
	font-size: 16px;
	font-weight: 700;
}

.business-unit > div > div.button{
	width: 10%;
}