.sub-com button {
	margin: 0 8px;
}

.user-box {
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
}

.user-box p:first-child{
	font-weight: 600;
	font-size: 16px;
	padding-left: 15px;
}

.custom-modal{
	/*border: 0px solid #999;*/
	 border: 0 solid rgba(0,0,0,.2);
	 border-radius: 0px; 
}
.custom-modal h2{
	padding-bottom: 14px !important;
}

.close{
	background-color: #de0031 !important;
	margin-top: 0px !important;
	float: right;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	color: white !important;
	text-shadow: 0 1px 0 #fff;
	height: 64px;
	width: 66px;
	opacity: 1 !important;
}


.modal-header{
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.modal-body{
	background: #efefef !important;
}

.modal-footer{
	background: #efefef !important;
	border-top: 0;
}

.width-54 {
	width: 67%;
}

.resize .modal-dialog {
	width: 487px !important;
	
}

.custom-md{
	width: 285px !important;
}

.show-more{
	background-color: transparent !important;
	border: 1px#10ac00 solid;
	color: #10ac00;
}

.show-more:hover{
	background-color: #0f9901 !important;
	color: white;
}

/* Additional */
div[data-model='user_list_row']:nth-child(even) {
	padding-left: 8px
}

div[data-model='user_list_row']:nth-child(odd) {
	padding-right: 8px
}

.no-user-found {
	width: 484px;
	text-align: center;
	margin: 15px auto 0;
	font-size: 17px;
	padding: 6px;
}

div[data-user-container="nkag"] .login-access {
    display: none;
}

.user_sbu_container_list > li {
	display: inline-block;
	margin: 0 5px;
	padding: 5px;
	vertical-align: middle;
	width: 80px;
}

.user_sbu_container_list li:hover, .user_sbu_container_list li.active {
	background: none repeat scroll 0 0 #dcdcdc;
}

.user_sbu_container_list a {
	outline: medium none;
}

input[type=checkbox] {
	width: 10px !important;
	padding: 2px !important;
}

/*button.ui-multiselect {
   margin-left: 10px;
}*/

