body{
	font-family: "Helvetica","Arial",sans-serif;
	overflow-x:hidden;
	min-width: 900px;
}

p{
	font-size: 14px;
	margin: initial;
}

hr{
	margin-top: 0;
	margin-bottom: 0;
	border-color: #aaa;
	border-width: 2px;
}

/*Font Style*/
.font-10{
    font-size: 10px;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-50{
	font-size: 50px;
}

.default-cursor{
	cursor: pointer
}

/*colors and bg-colors*/
.red-color{
	color: #9c1303 !important;
}

.light-red-color{
	color: #c0392b !important;
}

.green-color{
	color: #52801c;
}

.gray-color{
	color: #a4a4a4;
}

.bggray-light{
	background-color: #efefed !important;
}

.bggray-middark{
	background-color: #e6e6e6;
}

.bggray-dark{
	background-color: #d7dee4;
}

.bggray-white{
	background-color: #fff !important;
}

.yellow-bg{
	background-color: 
}

/*inlines*/
.display-inline-top{
	display: inline-block;
	vertical-align: top;
}

.display-inline-mid{
	display: inline-block;
	vertical-align: middle;
}

.display-inline-bot{
	display: inline-block;
	vertical-align: bottom;
}

/*Floats*/
.clear{
	width: 0;
	height: 0;
	clear: both;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

@media (max-width: 992px){
	.f-sm-left{
		float: left;
	}

	.f-sm-right{
		float: right;
	}
}


@media (min-width: 992px){
	.f-md-left{
		float: left;
	}

	.f-md-right{
		float: right;
	}
}

/*Positioning*/
.position-rel{
    position: relative;
}


/*Margin Top*/
.margin-top-5{
	margin-top: 5px;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-top-25{
	margin-top: 25px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-35{
	margin-top: 35px;
}

.margin-top-40{
	margin-top: 40px;
}

.margin-top-45{
	margin-top: 45px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-55{
	margin-top: 55px;
}

.margin-top-60{
	margin-top: 60px;
}

.margin-top-65{
	margin-top: 65px;
}

.margin-top-70{
	margin-top: 70px;
}

.margin-top-75{
	margin-top: 75px;
}

.margin-top-80{
	margin-top: 80px;
}

.margin-top-85{
	margin-top: 85px;
}

.margin-top-90{
	margin-top: 90px;
}

.margin-top-95{
	margin-top: 95px;
}

.margin-top-100{
	margin-top: 100px;
}

/*Margin Right*/
.margin-right-5{
	margin-right: 5px;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-right-15{
	margin-right: 15px;
}

.margin-right-20{
	margin-right: 20px;
}

.margin-right-25{
	margin-right: 25px;
}

.margin-right-30{
	margin-right: 30px;
}

.margin-right-35{
	margin-right: 35px;
}

.margin-right-40{
	margin-right: 40px;
}

.margin-right-45{
	margin-right: 45px;
}

.margin-right-50{
	margin-right: 50px;
}

.margin-right-55{
	margin-right: 55px;
}

.margin-right-60{
	margin-right: 60px;
}

.margin-right-65{
	margin-right: 65px;
}

.margin-right-70{
	margin-right: 70px;
}

.margin-right-75{
	margin-right: 75px;
}

.margin-right-80{
	margin-right: 80px;
}

.margin-right-85{
	margin-right: 85px;
}

.margin-right-90{
	margin-right: 90px;
}

.margin-right-95{
	margin-right: 95px;
}

.margin-right-100{
	margin-right: 100px;
}

/*Margin Bottom*/
.margin-bottom-5{
	margin-bottom: 5px;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

.margin-bottom-15{
	margin-bottom: 15px;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.margin-bottom-25{
	margin-bottom: 25px;
}

.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-bottom-35{
	margin-bottom: 35px;
}

.margin-bottom-40{
	margin-bottom: 40px;
}

.margin-bottom-45{
	margin-bottom: 45px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.margin-bottom-55{
	margin-bottom: 55px;
}

.margin-bottom-60{
	margin-bottom: 60px;
}

.margin-bottom-65{
	margin-bottom: 65px;
}

.margin-bottom-70{
	margin-bottom: 70px;
}

.margin-bottom-75{
	margin-bottom: 75px;
}

.margin-bottom-80{
	margin-bottom: 80px;
}

.margin-bottom-85{
	margin-bottom: 85px;
}

.margin-bottom-90{
	margin-bottom: 90px;
}

.margin-bottom-95{
	margin-bottom: 95px;
}

.margin-bottom-100{
	margin-bottom: 100px;
}


/*Margin left*/
.margin-left-5{
	margin-left: 5px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-left-15{
	margin-left: 15px;
}

.margin-left-20{
	margin-left: 20px;
}

.margin-left-25{
	margin-left: 25px;
}

.margin-left-30{
	margin-left: 30px;
}

.margin-left-35{
	margin-left: 35px;
}

.margin-left-40{
	margin-left: 40px;
}

.margin-left-45{
	margin-left: 45px;
}

.margin-left-50{
	margin-left: 50px;
}

.margin-left-55{
	margin-left: 55px;
}

.margin-left-60{
	margin-left: 60px;
}

.margin-left-65{
	margin-left: 65px;
}

.margin-left-70{
	margin-left: 70px;
}

.margin-left-75{
	margin-left: 75px;
}

.margin-left-80{
	margin-left: 80px;
}

.margin-left-85{
	margin-left: 85px;
}

.margin-left-90{
	margin-left: 90px;
}

.margin-left-95{
	margin-left: 95px;
}

.margin-left-100{
	margin-left: 100px;
}

/*PADDING*/

/*padding all*/

.padding-all-5{
    padding: 5px;
}

.padding-all-10{
    padding: 10px;
}

/*padding Top*/
.padding-top-5{
	padding-top: 5px;
}

.padding-top-10{
	padding-top: 10px;
}

.padding-top-15{
	padding-top: 15px;
}

.padding-top-20{
	padding-top: 20px;
}

.padding-top-25{
	padding-top: 25px;
}

.padding-top-30{
	padding-top: 30px;
}

.padding-top-35{
	padding-top: 35px;
}

.padding-top-40{
	padding-top: 40px;
}

.padding-top-45{
	padding-top: 45px;
}

.padding-top-50{
	padding-top: 50px;
}

.padding-top-55{
	padding-top: 55px;
}

.padding-top-60{
	padding-top: 60px;
}

.padding-top-65{
	padding-top: 65px;
}

.padding-top-70{
	padding-top: 70px;
}

.padding-top-75{
	padding-top: 75px;
}

.padding-top-80{
	padding-top: 80px;
}

.padding-top-85{
	padding-top: 85px;
}

.padding-top-90{
	padding-top: 90px;
}

.padding-top-95{
	padding-top: 95px;
}

.padding-top-100{
	padding-top: 100px;
}

/*padding Right*/
.padding-right-5{
	padding-right: 5px;
}

.padding-right-10{
	padding-right: 10px;
}

.padding-right-15{
	padding-right: 15px;
}

.padding-right-20{
	padding-right: 20px;
}

.padding-right-25{
	padding-right: 25px;
}

.padding-right-30{
	padding-right: 30px;
}

.padding-right-35{
	padding-right: 35px;
}

.padding-right-40{
	padding-right: 40px;
}

.padding-right-45{
	padding-right: 45px;
}

.padding-right-50{
	padding-right: 50px;
}

.padding-right-55{
	padding-right: 55px;
}

.padding-right-60{
	padding-right: 60px;
}

.padding-right-65{
	padding-right: 65px;
}

.padding-right-70{
	padding-right: 70px;
}

.padding-right-75{
	padding-right: 75px;
}

.padding-right-80{
	padding-right: 80px;
}

.padding-right-85{
	padding-right: 85px;
}

.padding-right-90{
	padding-right: 90px;
}

.padding-right-95{
	padding-right: 95px;
}

.padding-right-100{
	padding-right: 100px;
}


/*padding Bottom*/
.padding-bottom-5{
	padding-bottom: 5px;
}

.padding-bottom-10{
	padding-bottom: 10px;
}

.padding-bottom-15{
	padding-bottom: 15px;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.padding-bottom-25{
	padding-bottom: 25px;
}

.padding-bottom-30{
	padding-bottom: 30px;
}

.padding-bottom-35{
	padding-bottom: 35px;
}

.padding-bottom-40{
	padding-bottom: 40px;
}

.padding-bottom-45{
	padding-bottom: 45px;
}

.padding-bottom-50{
	padding-bottom: 50px;
}

.padding-bottom-55{
	padding-bottom: 55px;
}

.padding-bottom-60{
	padding-bottom: 60px;
}

.padding-bottom-65{
	padding-bottom: 65px;
}

.padding-bottom-70{
	padding-bottom: 70px;
}

.padding-bottom-75{
	padding-bottom: 75px;
}

.padding-bottom-80{
	padding-bottom: 80px;
}

.padding-bottom-85{
	padding-bottom: 85px;
}

.padding-bottom-90{
	padding-bottom: 90px;
}

.padding-bottom-95{
	padding-bottom: 95px;
}

.padding-bottom-100{
	padding-bottom: 100px;
}


/*padding left*/
.padding-left-5{
	padding-left: 5px;
}

.padding-left-10{
	padding-left: 10px;
}

.padding-left-15{
	padding-left: 15px;
}

.padding-left-20{
	padding-left: 20px;
}

.padding-left-25{
	padding-left: 25px;
}

.padding-left-30{
	padding-left: 30px;
}

.padding-left-35{
	padding-left: 35px;
}

.padding-left-40{
	padding-left: 40px;
}

.padding-left-45{
	padding-left: 45px;
}

.padding-left-50{
	padding-left: 50px;
}

.padding-left-55{
	padding-left: 55px;
}

.padding-left-60{
	padding-left: 60px;
}

.padding-left-65{
	padding-left: 65px;
}

.padding-left-70{
	padding-left: 70px;
}

.padding-left-75{
	padding-left: 75px;
}

.padding-left-80{
	padding-left: 80px;
}

.padding-left-85{
	padding-left: 85px;
}

.padding-left-90{
	padding-left: 90px;
}

.padding-left-95{
	padding-left: 95px;
}

.padding-left-100{
	padding-left: 100px;
}

/*Remove all*/

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-right{
	margin-right: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.no-margin-left{
	margin-left: 0 !important;
}

.no-margin-ver{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.no-margin-hor{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.no-margin-all{
	margin: 0 !important;
}

.no-padding-top{
	padding-top: 0 !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-padding-bottom{
	padding-bottom: 0 !important;
}

.no-padding-left{
	padding-left: 0 !important;
}

.no-padding-ver{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-padding-hor{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.no-padding-all{
	padding: 0 !important;
}

/*Heights*/
.height-100vh{
	height: 100vh;
}

.min-height-100vh{
	min-height: 100vh;
}

.height-0vh{
	height: 0vh;
}

.height-5vh{
	height: 5vh;
}

.height-10vh{
	height: 10vh;
}

.height-15vh{
	height: 15vh;
}

.height-20vh{
	height: 20vh;
}

.height-25vh{
	height: 25vh;
}

.height-30vh{
	height: 30vh;
}

.height-35vh{
	height: 35vh;
}

.height-40vh{
	height: 45vh;
}

.height-50vh{
	height: 50vh;
}

.height-55vh{
	height: 55vh;
}

.height-60vh{
	height: 60vh;
}

.height-65vh{
	height: 65vh;
}

.height-70vh{
	height: 70vh;
}

.height-75vh{
	height: 75vh;
}

.height-80vh{
	height: 80vh;
}

.height-85vh{
	height: 85vh;
}

.height-90vh{
	height: 90vh;
}

.height-100vh{
	height: 100vh;
}

.min-height-100vh{
	min-height: 100vh;
}

.max-height-100vh{
	max-height: 100vh;
}

/*widths*/
.width-0vw{
	width: 0vw;
}

.width-5vw{
	width: 5vw;
}

.width-10vw{
	width: 10vw;
}

.width-15vw{
	width: 15vw;
}

.width-20vw{
	width: 20vw;
}

.width-25vw{
	width: 25vw;
}

.width-30vw{
	width: 30vw;
}

.width-35vw{
	width: 35vw;
}

.width-40vw{
	width: 40vw;
}

.width-45vw{
	width: 45vw;
}

.width-50vw{
	width: 50vw;
}

.width-55vw{
	width: 55vw;
}

.width-60vw{
	width: 60vw;
}

.width-65vw{
	width: 65vw;
}

.width-70vw{
	width: 70vw;
}

.width-75vw{
	width: 75vw;
}

.width-80vw{
	width: 80vw;
}

.width-85vw{
	width: 85vw;
}

.width-90vw{
	width: 90vw;
}

.width-95vw{
	width: 95vw;
}

.width-100vw{
	width: 100vw;
}

.min-width-100vh{
	min-width: 100vh;
}

.max-width-100vh{
	max-width: 100vh;
}


/*extra*/
.width-10per{
    width: calc(10% - 10px) !important;
}

.width-15per{
    width: calc(15% - 10px) !important;
}

.width-20per{
    width: calc(20% - 10px) !important;
}

.width-25per{
    width: calc(25% - 10px) !important;
}

.width-30per{
    width: calc(30% - 10px) !important;
}

.width-35per{
    width: calc(35% - 10px) !important;
}

.width-40per{
    width: calc(40% - 10px) !important;
}

.width-45per{
    width: calc(45% - 10px) !important;
}

.width-50per{
    width: calc(50% - 10px) !important;
}

.width-55per{
    width: calc(55% - 10px) !important;
}

.width-60per{
    width: calc(60% - 10px) !important;
}

.width-65per{
    width: calc(65% - 10px) !important;
}

.width-70per{
    width: calc(70% - 10px) !important;
}

.width-75per{
    width: calc(75% - 10px) !important;
}

.width-80per{
    width: calc(80% - 10px) !important;
}

.width-85per{
    width: calc(85% - 10px) !important;
}

.width-90per{
    width: calc(90% - 10px) !important;
}

.width-95per{
    width: calc(95% - 10px) !important;
}

.width-100per{
    width: 100% !important;
}

.width-420px{
    width: 420px;
}

.bg-green{
    background-color: #def5c7;
}

.width-20{
    width: 20px;
}

.min-withd-20{
    min-width: 20px !important;
}