section[section-style~="top-panel"]{
	width: 100%;
}

section[section-style~="top-panel"] .header-container{
	background-color: #efefef;
}

section[section-style~="top-panel"] .contents{
	position: relative;
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

/*line-middler*/
section[section-style~="top-panel"] .contents.line{
	background-image: url(../../images/ui/line-bg.jpg);
	background-position: 0 center;
	background-size: 100% 2px;
	background-repeat: repeat-x;
}

section[section-style~="top-panel"] .white-space,
section[section-style~="top-panel"] .gray-space{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 30px;
	background-color: #fff;
}

section[section-style~="top-panel"] .gray-space{
	height: 50px;
}

section[section-style~="top-panel"] .gray-space,
section[section-style~="top-panel"] .gray-bg{
	background-color: #efefef;
}


section[section-style~="top-panel"] h1{
	margin: 20px 0; 
	font-size: 28px;
	color: #333;
}

/*breadcrumbs*/
section[section-style~="top-panel"] .breadcrumbs p{
	font-size: 14px;
	color: #333;
}

section[section-style~="top-panel"] .breadcrumbs p a{ 
	color: #333;
	text-decoration: none;
}

section[section-style~="top-panel"] .breadcrumbs p a:hover{
	text-decoration: underline;	
}
