section[section-style~="content-panel"]{
	width: 100%;
}

section[section-style~="content-panel"] .centerer{
	width: auto;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
}

section[section-style~="content-panel"] .content-container,
section[section-style~="content-panel"] .content-container-collapse{
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 20px auto;
	padding: 0;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	background-color: #fff;

	transition: background-color .5s;
}

/*for content-container with view action*/
section[section-style~="content-panel"] .content-container.viewable:hover{
	background-color: #fce8a9;
	cursor: pointer;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .content-container.f-left,
section[section-style~="content-panel"] .content-container-collapse.f-left,
section[section-style~="content-panel"] .content-container.f-right,
section[section-style~="content-panel"] .content-container-collapse.f-right{
	width: auto;
}

section[section-style~="content-panel"] .content-container.half,
section[section-style~="content-panel"] .content-container-collapse.half{
	max-width: calc(50% - 20px);
}

section[section-style~="content-panel"] .content-container.half:nth-of-type(2),
section[section-style~="content-panel"] .content-container-collapse.half:nth-of-type(2){
	margin-left: 40px;
}

section[section-style~="content-panel"] .content-container > div:not(.clear),
section[section-style~="content-panel"] .content-container-collapse > div:not(.clear){
	padding: 20px;
}

/*accordion*/
section[section-style~="content-panel"] .content-container-collapse{
	overflow: hidden;
}

section[section-style~="content-panel"] .content-container-collapse,
section[section-style~="content-panel"] .content-container-collapse.hide-panel{
	transition: height .5s;
}

/*for show/hide toggle*/
section[section-style~="content-panel"] .content-container-collapse [sh-item*="showed"]{
	display: block;
}

section[section-style~="content-panel"] .content-container-collapse [sh-item*="hidden"]{
	display: none;
}

/*accordion arrow*/
section[section-style~="content-panel"] .content-container-collapse .side-arrow{
	position: absolute;
	right: 20px;
	top: 15px;
	width: 50px;
	height: 30px;
	cursor: pointer;
	border-radius: 10px;
	background-color: #fff;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .content-container-collapse .side-arrow:hover{
	background-color: #efefef;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .content-container-collapse .side-arrow:before,
section[section-style~="content-panel"] .content-container-collapse .side-arrow:after{
	position: absolute;
	top: 15px;
	right: 7px;
	content: "";
	display: block;
	width: 20px;
	height: 1px;
	background-color: #aaa;
	transform: rotate(30deg);
}

section[section-style~="content-panel"] .content-container-collapse .side-arrow:after{
	right: 24px;
	transform: rotate(-30deg);
}

section[section-style~="content-panel"] .content-container-collapse.hide-panel .side-arrow:before{
	transform: rotate(-30deg);
}
section[section-style~="content-panel"] .content-container-collapse.hide-panel .side-arrow:after{
	transform: rotate(30deg);
}

/*contents*/
section[section-style~="content-panel"] .content-container.unboxed,
section[section-style~="content-panel"] .content-container-collapse.unboxed{
	border-radius: 0;
	box-shadow: none;
}

section[section-style~="content-panel"] .content-container .panel-title,
section[section-style~="content-panel"] .content-container-collapse .panel-title{
	padding-bottom: 25px;
	font-size: 16px;
}

section[section-style~="content-panel"] .content-container .sub-panel-title,
section[section-style~="content-panel"] .content-container-collapse .sub-panel-title{
	font-size: 14px;
}

section[section-style~="content-panel"] .content-container .food-pic,
section[section-style~="content-panel"] .content-container-collapse .food-pic{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}

section[section-style~="content-panel"] .content-container .data-container,
section[section-style~="content-panel"] .content-container-collapse .data-container{
	position: relative;
	display: inline-block;
	width: calc(100% - 125px);
	font-size: 0;
}

section[section-style~="content-panel"] .content-container.f-left .data-container,
section[section-style~="content-panel"] .content-container-collapse.f-left .data-container,
section[section-style~="content-panel"] .content-container.f-right .data-container,
section[section-style~="content-panel"] .content-container-collapse.f-right .data-container{
	width: 100%;
	min-width: 400px;
}

section[section-style~="content-panel"] .content-container .data-container.split,
section[section-style~="content-panel"] .content-container-collapse .data-container.split{
	vertical-align: top;
	width: calc(50% - 10px);
}

section[section-style~="content-panel"] .content-container .data-container.split.disabled:before,
section[section-style~="content-panel"] .content-container-collapse .data-container.split.disabled:before{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 10;
	opacity: .5;

	animation: fade-in .3s linear forwards;
}

@keyframes fade-in{
	from{opacity: 0}
	to{opacity: .8}
}

@keyframes fade-out{
	from{opacity: .5}
	to{opacity: 1}
}


section[section-style~="content-panel"] .content-container .data-container .data-content,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-size: 12px;
	width: 20%;
	overflow: hidden;
}

section[section-style~="content-panel"] .content-container.f-left .data-container .data-content,
section[section-style~="content-panel"] .content-container-collapse.f-left .data-container .data-content,
section[section-style~="content-panel"] .content-container.f-right .data-container .data-content,
section[section-style~="content-panel"] .content-container-collapse.f-right .data-container .data-content{
	margin-left: 5px;
	margin-right: 5px;
	width: 120px;	
}


section[section-style~="content-panel"] .content-container .data-container .data-content .title,
section[section-style~="content-panel"] .content-container .data-container .data-content .id-code,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .title,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .id-code{
	display: block;
	margin-bottom: 0;
	padding: 10px;
	background-color: #c62827;
	font-weight: 700;
	color: #fff;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .content-container .data-container.disabled .data-content .title,
section[section-style~="content-panel"] .content-container-collapse .data-container.disabled .data-content .title{
	background-color: #c7c7c7;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .content-container .data-container .data-content .full-text,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .full-text{
	padding: 30px 0;
	margin: 0;
	font-size: 15px;
	font-weight: 700;
}	

section[section-style~="content-panel"] .content-container .data-container .data-content .id-code,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .id-code{
	background-color: #efefef;
	color: #333;
}

section[section-style~="content-panel"] .content-container .data-container .data-content .id-input,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .id-input{
	background-color: #efefef;
	padding: 8px 5px;
}

section[section-style~="content-panel"] .content-container .data-container .data-content .id-input input[type="text"],
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .id-input input[type="text"]{
	padding: 5px 10px;
	width: 100%;
	border: solid 1px #A8A8A8;
	border-radius: 3px;
	font-size: 12px;
	outline: none;

}

section[section-style~="content-panel"] .content-container .data-container .data-content .id-input input[type="text"]:focus,
section[section-style~="content-panel"] .content-container-collapse .data-container .data-content .id-input input[type="text"]:focus{
	border-color: #009cff;

	transition: .5s;
}

/*misc*/
section[section-style~="content-panel"] .border-dashed{
    border: 1px #a4a4a4 dashed;
}

section[section-style~="content-panel"] .curved-border{
	border-radius: 15px;
}

section[section-style~="content-panel"] .small-curved-border{
	overflow: hidden;
	border-radius: 5px !important;
}

section[section-style~="content-panel"] .thumb{
	width: 80px;
}

section[section-style~="content-panel"] .small-thumb{
	width: 30px;
}

section[section-style~="content-panel"] .opaque{
	opacity: .3;
}

section[section-style~="content-panel"] .divider{
	border-left: solid 2px #aaa;
}

section[section-style~="content-panel"] .arrow-down{
	display: inline-block;
	background: url(../../images/ui/select-arrow.png) no-repeat;
	background-size: 12px 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 12px;
	height: 10px;
	cursor: pointer;
}

/*add category/view category*/
section[section-style~="content-panel"] .category-item{
	display: inline-block;
	margin-bottom: 5px;
	padding: 15px 20px;
	background-color: #efefef;
	font-size: 14px;
}

section[section-style~="content-panel"] .category-item.viewable{
	background-color: #efefef;
	cursor: pointer;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .category-item.viewable:nth-of-type(odd){
	background-color: #e1e1e1;
}


section[section-style~="content-panel"] .category-item.viewable:hover{
	background-color:  #fce8a9;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .category-item img{
	max-height: 50px;
	margin-right: 20px;
}

/*pop-up*/
section[section-style~="content-panel"] .category-item .pop-up{
	position: absolute;
	display: none;
	left: calc(10% - 20px);
	margin-top: -140px;
	padding: 20px;
	width: 80%;
	border-radius: 15px;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

section[section-style~="content-panel"] .category-item .pop-up:before{
	content: "";
	position: absolute;
	left: calc(50% - 15px);
	bottom: -18px;
	background: url(../../images/ui/pop-up-arrow-down.png) no-repeat;
	background-size: 30px 20px;
	width: 30px;
	height: 20px;
	opacity: .9;
}

section[section-style~="content-panel"] .category-item:hover .pop-up{
	display: block;
}

section[section-style~="content-panel"] .btn-add-category{
	display: inline-block;
	padding: 15px;
	border-radius: 0;
	background-color: #efefef;
	color: #aaa;
	outline: none;

	transition: background-color .3s;
}

section[section-style~="content-panel"] .btn-add-category:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border: dashed 2px #aaa;
	border-radius: 50%;
	background: url(../../images/ui/add-category.svg) no-repeat;
	background-position: center;
	background-size: 30px;

	transition: background-size .3s
}

section[section-style~="content-panel"] .btn-add-category:hover,
section[section-style~="content-panel"] .btn-add-category:focus{
	background-color: #e3e3e3;
	outline: none;
	box-shadow: none;

	transition: .3s;
}

section[section-style~="content-panel"] .btn-add-category:hover:before{
	background-size: 35px;

	transition: .3s;
}

/*item picked*/
section[section-style~="content-panel"] .item-picked{
	position: relative;
	margin-top: 10px;
	padding: 5px 10px;
	width: 100%;
	max-width: 400px;
	font-size: 0;
	background-color: #eee;
}

section[section-style~="content-panel"] .item-picked.view{
	display: inline-block;
}

section[section-style~="content-panel"] .item-picked.view:nth-of-type(even){
	margin-left: 10px;
}

section[section-style~="content-panel"] .item-picked img{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
}

section[section-style~="content-panel"] .item-picked p.item-name{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 700;
	width: 150px;
}

section[section-style~="content-panel"] .item-picked p.item-code{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 700;
	width: 100px;
	text-transform: uppercase;
}

section[section-style~="content-panel"] .item-picked .item-remove{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../../images/ui/icon-close.png) no-repeat;
	background-color: #eee;
	background-size: 15px;
	background-position: center;
	cursor: pointer;

	transition: background-color .5s;
}

section[section-style~="content-panel"] .disabled .item-picked .item-remove,
section[section-style~="content-panel"] .disabled .item-picked .item-remove:hover{
	background: url(../../images/ui/icon-close-disabled.png) no-repeat;
	background-size: 15px;
	background-position: center;
	cursor: default;
}

section[section-style~="content-panel"] .item-picked .item-remove:hover{
	background-color: #fefefe;

	transition: background-color .5s;
}


