/*image slider*/

/*img container*/
.image-gallery{
    padding: 0 0 10px !important;
    width: 100%;
    font-size: 0;
}

.image-gallery .img-container{
    margin-top: 10px;
    padding: 20px;
}

.image-gallery .img-content{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
    min-height: 200px;
}


.image-gallery .img-content img{
    width: 60%;
    display: none;
}

.image-gallery .img-content img.active{
    display: block;
    margin: 0 auto;
}

.image-gallery .arrow-left,
.image-gallery .arrow-right{
    display: inline-block;
    vertical-align: middle;
    background-color: #D65D51;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;

    transition: background-color .5s;
}

.image-gallery .arrow-left:hover,
.image-gallery .arrow-right:hover{
    background-color: #9B3126;

    transition: background-color .5s;
}

.image-gallery .bullets{
    padding: 5px 0;
    text-align: center;
}

.image-gallery .bullets a{
    display: inline-block;
    margin: 0 5px;
    font-size: 15px;
    color: #9B3126;

    transition: color .5s;
}

.image-gallery .bullets a.active{
    color: #6D0D03;

    transition: color .5s;
}

.image-gallery .bullets a:hover{
    color: #6D0D03;

    transition: color .5s;
}

.image-gallery .bullets a.active:hover{
    color: #6D0D03;

    transition: color .5s;
}

/*image description*/

.image-gallery .desc-container{
    min-height: 200px;
}

.image-gallery .desc-container .desc-content{
    display: none;
    padding: 20px;
    background-color: #efefed;
}

.image-gallery .desc-container .desc-content.active{
    display: block;
}

/*arrow with selector*/
.arrow-selector{
    width: 100%;
}

.arrow-selector .select{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    margin-left: 10px;
    margin-right: 10px;
}

.arrow-selector .arrow-left,
.arrow-selector .arrow-right,
.arrow-selector .plus,
.arrow-selector .minus,
.close-panel{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background:  #9B3126 url(../../images/ui/arrow-left.png) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;

    transition: background-color .5s;
}

.arrow-selector .arrow-right{
    background:  #9B3126 url(../../images/ui/arrow-right.png) no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.arrow-selector .plus{
    background:  #9B3126 url(../../images/ui/icon-plus-white.png) no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.arrow-selector .minus{
    background:  #9B3126 url(../../images/ui/icon-minus-white.png) no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.close-panel{
    background:  #9B3126 url(../../images/ui/icon-close-white.png) no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.close-panel:disabled{
    background-color: #aaa;
}


.arrow-selector .arrow-left:hover,
.arrow-selector .arrow-right:hover,
.arrow-selector .plus:hover,
.arrow-selector .minus:hover,
.close-panel:hover{
    background-color: #6D0D03;

    transition: background-color .5s;
}

/*category boxes*/
.category-box-container{
    width: 100%;
    font-size: 0;
}

.category-box{
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 10px 0;
    width: calc((100% / 5) - 2px);
    background-color: #847e70;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    transition: background-color .5s;
}

.category-box:nth-of-type(5n+1){
    margin-left: 0;
}

.category-box:hover{
    background-color: #c0392b;

    transition: background-color .5s;
}

/*drink sizes | fries sizes*/
.item-sizes{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.item-sizes input[type="radio"]{
    display: none;
}

.item-sizes input[type="radio"] + label{
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.item-sizes input[type="radio"]:checked + label{
    background-position: 0 bottom;
}

.item-sizes .drinks,
.item-sizes .fries{
    background: url("../../images/ui/drinks-icon.png") no-repeat;
    background-position: 0 top;
}

.item-sizes .fries{
    background: url("../../images/ui/fries-icon.png") no-repeat;
}

.item-sizes .drinks.size.large,.item-sizes .fries.size.large{
    background-size: auto 100px;
    height: 50px;
    width: 30px;
}

.item-sizes .drinks.size.medium,.item-sizes .fries.size.medium{
    background-size: auto 90px;
    height: 45px;
    width: 30px;
}

.item-sizes .drinks.size.small,.item-sizes .fries.size.small{
    background-size: auto 80px;
    height: 40px;
    width: 30px;
}

.item-sizes .fries.size.large{width: 42px;}
.item-sizes .fries.size.medium{width: 40px;}
.item-sizes .fries.size.small{width: 38px;}

.item-sizes .size.large:before,
.item-sizes .size.medium:before,
.item-sizes .size.small:before{
    content: "XL";
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.item-sizes .fries.size.large:before{
    top: 30px;
    left: 11px;
}

.item-sizes .size.medium:before{
    content: "L";
    top: 21px;
    left: 3px;
}

.item-sizes .fries.size.medium:before{
    top: 25px;
    left: 10px;
}

.item-sizes .size.small:before{
    content: "R";
    top: 20px;
    left: 2px;
}

.item-sizes .fries.size.small:before{
    top: 21px;
    left: 8px;
}

/*rounded boxes*/
.rounded-container .rounded-box{
    border-radius: 20px;
    box-shadow: 1px 3px 9px 1px rgba(0,0,0,0.4);
    padding-top: 5px;

    height: 70px;
    text-align: center;
}

.rounded-container .rounded-box.small {
    width: 130px;
}

.rounded-container .rounded-box.medium {
    width: 275px;
}

/*modal messenger*/
.messenger{
    padding: 0 !important;
    width: 100%;
    font-size: 0;
}

.messenger .msg-content{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.messenger .msg-content .chat-box{
    padding: 20px;
    height: 400px;
    overflow-y: auto;
}

.messenger .msg-content .chat-box .sender,
.messenger .msg-content .chat-box .receiver{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.messenger .msg-content .chat-box .receiver{
    text-align: right;
}

.messenger .msg-content .chat-box .sender img.profile,
.messenger .msg-content .chat-box .receiver img.profile{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.messenger .msg-content .chat-box .sender .msg,
.messenger .msg-content .chat-box .receiver .msg{
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 70px);
    border-radius: 10px;
    overflow: hidden;
}

.messenger .msg-content .chat-box .sender .msg p,
.messenger .msg-content .chat-box .receiver .msg p{
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    font-size: 12px;
    background-color: #DDD;
}

.messenger .msg-content .chat-box .receiver .msg p{
    border-radius: 10px 0 0 10px;
    text-align: right;
    background-color: #fbd8a1
}


.messenger .msg-content .chat-box .sender .msg p:last-child,
.messenger .msg-content .chat-box .receiver .msg p:last-child{
    margin-bottom: 0;
}

.messenger .msg-content .text-input{
    width: 100%;
    height: 171px;
    font-size: 0;
    background-color: #fff;
}

.messenger .msg-content .text-input textarea{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    width: 70%;
}

.messenger .msg-content .text-input .btn-container{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 30%
}

.messenger .contacts{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    width: calc(30%);
    background-color: #ddd;
}

.messenger .contacts .content{
    margin-top: 10px;
    height: 500px;
    overflow-y: auto;
}

.messenger .contacts .content table tr:nth-of-type(odd){
    background-color: #fff;
}

.messenger .contacts .content table tr:nth-of-type(even){
    background-color: #eee;
}

.messenger .contacts .content table tr td{
    font-size: 12px;
}

/*re-route modal*/
.modal-content .div-inside {
    border: 1px solid #fff;
    max-height: 200px;
    overflow-y: auto;
}

.modal-content .table-inside {
    max-height: 200px;
    width: 100%;
}

.modal-content .table-inside tr td p{
    padding: 5px 10px;
}

.modal-content .table-inside tr:nth-child(odd) {
    background-color: #fff;
}
.modal-content .table-inside tr:nth-child(even) {
    background-color: #f2f2f2 ;
}
.modal-content .table-inside tr .selected {
    background-color: #caf59e ;
}
.modal-content .div-inside.long{
    max-height: 300px;
}

.modal-content img.small-thumb {
    width: 40px;
}