/*image slider*/

/*img container*/
.image-gallery{
	padding: 0 0 10px !important;
	width: 100%;
	font-size: 0;
}

.image-gallery .img-container{
	margin-top: 10px;
	padding: 20px;
}

.image-gallery .img-content{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 80px);
	min-height: 200px;
}


.image-gallery .img-content img{
	width: 60%;
	display: none;
}

.image-gallery .img-content img.active{
	display: block;
	margin: 0 auto;
}

.image-gallery .arrow-left,
.image-gallery .arrow-right{
	display: inline-block;
	vertical-align: middle;
	background-color: #D65D51;
	width: 40px;
	height: 40px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;

	transition: background-color .5s;
}

.image-gallery .arrow-left:hover,
.image-gallery .arrow-right:hover{
	background-color: #9B3126;

	transition: background-color .5s;
}

.image-gallery .bullets{
	padding: 5px 0;
	text-align: center;
}

.image-gallery .bullets a{
	display: inline-block;
	margin: 0 5px;
	font-size: 15px;
	color: #9B3126;

	transition: color .5s;
}

.image-gallery .bullets a.active{
	color: #6D0D03;

	transition: color .5s;
}

.image-gallery .bullets a:hover{
	color: #6D0D03;

	transition: color .5s;
}

.image-gallery .bullets a.active:hover{
	color: #6D0D03;

	transition: color .5s;
}

/*image description*/

.image-gallery .desc-container{
	min-height: 200px;
}

.image-gallery .desc-container .desc-content{
	display: none;
	padding: 20px;
	background-color: #efefed;
}

.image-gallery .desc-container .desc-content.active{
	display: block;
}

/*arrow with selector*/
.arrow-selector{
	width: 100%;
}

.arrow-selector .select{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 100px);
	margin-left: 10px;
	margin-right: 10px;
}

.arrow-selector .arrow-left,
.arrow-selector .arrow-right,
.close-panel{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background:  #9B3126 url(../../images/ui/arrow-left.png) no-repeat;
	background-size: 20px 20px;
	background-position: center;
	width: 30px;
	height: 30px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;

	transition: background-color .5s;
}

.arrow-selector .arrow-right{
	background:  #9B3126 url(../../images/ui/arrow-right.png) no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.close-panel{
	background:  #9B3126 url(../../images/ui/arrow-right.png) no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.close-panel:disabled{
	background-color: #aaa;
}


.arrow-selector .arrow-left:hover,
.arrow-selector .arrow-right:hover{
	background-color: #6D0D03;

	transition: background-color .5s;
}

/*category boxes*/
.category-box-container{
	width: 100%;
	font-size: 0;
}

.category-box{
	display: inline-block;
	margin-left: 2px;
	margin-bottom: 2px;
	padding: 10px 0;
	width: calc((100% / 5) - 2px);
	background-color: #847e70;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;

	transition: background-color .5s;
}

.category-box:nth-of-type(5n+1){
	margin-left: 0;
}

.category-box:hover{
	background-color: #c0392b;

	transition: background-color .5s;
}

/*drink sizes | fries sizes*/
.item-sizes{
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
}

.item-sizes input[type="radio"]{
	display: none;
}

.item-sizes input[type="radio"] + label{
	position: relative;
	margin: 0 5px;
	cursor: pointer;
}

.item-sizes input[type="radio"]:checked + label{
	background-position: 0 bottom;
}

.item-sizes .drinks,
.item-sizes .fries{
	background: url("../../images/ui/drinks-icon.png") no-repeat;
	background-position: 0 top; 
}

.item-sizes .fries{
	background: url("../../images/ui/fries-icon.png") no-repeat;
}

.item-sizes .drinks.size.large,.item-sizes .fries.size.large{
	background-size: auto 100px;
	height: 50px;
	width: 30px;
}

.item-sizes .drinks.size.medium,.item-sizes .fries.size.medium{
	background-size: auto 90px;
	height: 45px;
	width: 30px;
}

.item-sizes .drinks.size.small,.item-sizes .fries.size.small{
	background-size: auto 80px;
	height: 40px;
	width: 30px;
}

.item-sizes .fries.size.large{width: 42px;}
.item-sizes .fries.size.medium{width: 40px;}
.item-sizes .fries.size.small{width: 38px;}

.item-sizes .size.large:before,
.item-sizes .size.medium:before,
.item-sizes .size.small:before{
	content: "XL";
	position: absolute;
	display: inline-block;
	top: 25px;
	left: 5px;
	width: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

.item-sizes .fries.size.large:before{
	top: 30px;
	left: 11px;
}

.item-sizes .size.medium:before{
	content: "L";
	top: 21px;
	left: 3px;
}

.item-sizes .fries.size.medium:before{
	top: 25px;
	left: 10px;
}

.item-sizes .size.small:before{
	content: "R";
	top: 20px;
	left: 2px;
}

.item-sizes .fries.size.small:before{
	top: 21px;
	left: 8px;
}

/*modal messenger*/
.messenger{
	padding: 0 !important;
	width: 100%;
	font-size: 0;
}

.messenger .msg-content{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 70%;
}

.messenger .msg-content .chat-box{
	padding: 20px;
	height: 400px;
	overflow-y: auto;
}

.messenger .msg-content .chat-box .sender,
.messenger .msg-content .chat-box .receiver{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: left;
}

.messenger .msg-content .chat-box .receiver{
	text-align: right;
}

.messenger .msg-content .chat-box .sender img.profile,
.messenger .msg-content .chat-box .receiver img.profile{
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px; 
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.messenger .msg-content .chat-box .sender .msg,
.messenger .msg-content .chat-box .receiver .msg{
	display: inline-block;
	vertical-align: bottom;
	width: calc(100% - 70px);
	border-radius: 10px;
	overflow: hidden;
}

.messenger .msg-content .chat-box .sender .msg p,
.messenger .msg-content .chat-box .receiver .msg p{
	display: inline-block;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 0 10px 10px 0;
	font-size: 12px;
	background-color: #DDD;
}

.messenger .msg-content .chat-box .receiver .msg p{
	border-radius: 10px 0 0 10px;
	text-align: right;
	background-color: #fbd8a1
}


.messenger .msg-content .chat-box .sender .msg p:last-child,
.messenger .msg-content .chat-box .receiver .msg p:last-child{
	margin-bottom: 0;
}

.messenger .msg-content .text-input{
	width: 100%;
	height: 171px;
	font-size: 0;
	background-color: #fff;
}

.messenger .msg-content .text-input textarea{
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	width: 70%;
}

.messenger .msg-content .text-input .btn-container{
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	width: 30%
}

.messenger .contacts{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 5px 10px;
	width: calc(30%);
	background-color: #ddd;
}

.messenger .contacts .content{
	margin-top: 10px;
	height: 500px;
	overflow-y: auto;
}

.messenger .contacts .content table tr:nth-of-type(odd){
	background-color: #fff;
}

.messenger .contacts .content table tr:nth-of-type(even){
	background-color: #eee;
}

.messenger .contacts .content table tr td{
	font-size: 12px;
}

/*re-route modal*/
.div-inside,
.div-inside-noline {
	border: 1px solid #fff;
	max-height: 200px;
	overflow-y: auto;
}

.div-inside-noline {
	border: 0;
}

.table-inside {
	
	max-height: 200px;
	width: 100%;
}

.table-inside tr td p{
    padding: 5px 10px;
}

.table-inside tr:nth-child(odd) {
    background-color: #fff;
}
.table-inside tr:nth-child(even) {
    background-color: #f2f2f2 ;
}
.table-inside tr .selected {
    background-color: #caf59e ;
}

.table-inside input[type=checkbox]:checked .table-inside:parent {
	background-color: ;
}


.div-inside-noline.long,
.div-inside.long{
    max-height	: 300px;    
}

.div-inside-noline.extralong,
.div-inside.extralong{
	max-height: 400px;
}

.modal-content img.small-thumb {
	width: 40px;
}

.rounded-container .rounded-box{
	border-radius: 20px;
	box-shadow: 1px 3px 9px 1px rgba(0,0,0,0.3);	
	text-align: center;
	overflow: hidden;
}

.rounded-container .rounded-box.small {
	width: 130px;
}

.rounded-container .rounded-box.medium {
	width: 275px;
}

.rounded-container .rounded-box.xmedium {
	width: 200px;
}

.rounded-container .rounded-box.xlarge{
    width: 600px;
}

.rounded-container .tabs{
	padding: 20px 0;
	background-color: #fff;
	border-right: solid 1px #ddd;

	transition: background-color .5s;
}

.rounded-container .tabs:last-child{
	border-right: none;
}

.rounded-container .tabs:hover{
	background-color: #fce8a9;
	cursor: pointer;

	transition: background-color .5s;
}

.close-error{
		
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
	float: right;	
	width: 30px;
	height: 30px;
	transition: background-color .5s;
}	

.close-error:hover {
	background-color: rgba(0,0,0,0.3)

}


/*            customize widget       */

.toggleSwitch .switch {
	display: none;
}

input.switch:empty ~ label
{
	position: relative;	
	line-height: 2.5em;	
	margin: 0 0;
	float: left;
	cursor: pointer;
}

/* the container of the buttons */
input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 6em;
	background-color: #f7dfdc;
	border-radius: 0.3em;
	
  	transition: all 100ms ease-in;
}

input.switch:empty ~ label:before {

	padding-left: 30px;
	content: 'OFF';
}

input.switch:checked ~ label:before
{
	background-color: #d2ebb6;	
	padding-left: 0px;
	padding-right: 30px;
	content: 'ON';
}

/* button size  */
input.switch:empty ~ label:after
{
	width: 2.1em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #e74c3c;
	border-radius: 0.15em;

}

input.switch:checked ~ label:after
{
	background-color: #2ecc71;
	margin-left: 3.9em;	
}


.special:hover,
.special:active,
.special:focus {
	text-decoration: none;
}

.time-content {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.sphere-small, 
.sphere-big {	
	border-radius: 50%;
	color: #fff;
	background-color: #4990e2 !important;
	text-align: center;	
}

.sphere-small {
	height: 45px;
	width: 45px;
	line-height: 45px;
}
.sphere-big {
	height: 80px;
	width: 80px;	
	line-height: 80px;
}

.sphere-camera {
	border-radius: 50%;
	border: dashed #d0d0d0;	
	height: 100px;
	width: 100px;
	text-align: center;	
}
.sphere-camera:hover{
	cursor: pointer;
}

/** hover popup **/ 
.hover-activate {
	top: 130% ;
	right: 10%;
	display: none;
}

.hover-me:hover + .hover-activate {
	display: block;
}

/* logo inside inputbox */
.with-php {
	background: url(../images/php.svg) no-repeat scroll 7px 7px;
	padding-left: 30px;
}


.input-container {
	position: relative;
	margin:0;
	padding:0;
	width: 130px;
	height: 0px;
}
.input-container input {
	position: absolute;
	top: 0;
	left: 0;
}
.input-container img {
	position: absolute;
	top: 4px;
	right: -40px;
}


/* table color over clicked */
.click-bg {
	background-color: #c2f48f;
}

/*fix on top*/
.fix-on-top-scroll{
	padding-top: 0;
	width: 100%;
	left: 0;
}

.fix-on-top-scroll>div{
	width: 900px;
	margin: 0 auto;
}

.fix-on-top-scroll:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	z-index: -1;
	opacity: 0;

	transition: opacity .3s, padding-top .3s;

}

.fix-on-top-scroll.top{
	position: fixed;
	padding-top: 10px;
	top: 0;
	z-index: 1000;
}

.fix-on-top-scroll.top:after{
	opacity: 1;

	transition: opacity .3s, padding-top .3s;
}
