.long-horizontal-table{
	width: 1165px;
	/*overflow-x: auto;
	overflow-y: hidden;*/ 
	overflow: hidden;
}

.long-horizontal-table table{
	box-shadow: 0 1px 1px #b7b7b7;
	margin-bottom: 5px;
	background: #fff;
}

.long-horizontal-table table thead tr th:nth-child(even),
.long-horizontal-table table tbody tr td:nth-child(even) {
background: #efefef;
}

.long-horizontal-table table thead tr th{
	border-bottom: 1px solid #2d2d2d;
	background-color: #2d2d2d !important;
	color: #fff;
}

.long-horizontal-table table thead tr th,
.long-horizontal-table table tbody tr td{
	min-width: 150px; 
	text-align: center;
	padding: 10px;
}



