.sub-link{
	color: #333;
	font-size: 14px;
	padding-left: 0;
}

.sub-link.active{
	font-weight: 800;
	border-bottom: 3px #de0031 solid;
	padding-bottom: 2px;
}

.spans span{
	margin: 0 5px;
}

.filter ul{
	list-style-type: none;
}

.filter li{
	display: inline-block;
}

.filter a{
	color: #333;
}
.filter li.active{
	font-weight: 600;
}
.filter li span{
	font-weight: normal;
}

.dropdown-menu>li>a {
	color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #222222 !important;
	color: white;
}
.select{
	display: inline-block;
	width: 100%;
	border: solid 1px #0a131a;
	overflow: hidden;
	outline: none;
	vertical-align: middle;
	background: url("../../../images/ui/select-arrow.png") no-repeat 95% center;
	padding: 5px 10px;
}

.select span{
	padding-right: 45px;
	font-size: 14px;
}

.sub-menu{
	border-radius: 0px;
	left: 13px !important;
	width: 91% !important;
}
.sub-menu1{
	border-radius: 0px;
	left: 420px !important;
	width: 34% !important;
	top: 74px;
	background-color: #2d2d2d;
}

.sub-menu3{
	border-radius: 0px;
	left: 0px !important;
	width: 20% !important;
}

.sub-menu4{
	left: 45px !important;
}

.sub-menu5{
	left: 422px !important;
	top: 31px;
}

.sub-menu6{
	left: 118px !important;
	width: 25% !important;
	top: 271px;
}

.sub-menu7{
	left: 80px !important;
	width: 25% !important;
	top: 404px;
}

.search {
/* border: solid 1px #0a131a; */
	overflow: hidden;
	outline: none;
	vertical-align: middle;
	padding: 5px 10px;
	background: url("../../../images/ui/magnifying.png") no-repeat 95% center;
	background-color: white !important;
}

.search span:first-child{
	padding-right: 45px;
	font-size: 14px;
}

.search-icon{
	width: 25px;
	height: 25px;
	color: #333;
}

.form label{
	font-weight: 100;
	padding-top: 4px;
}

.green-button{
	background-color: #10ac00;
	border: 1px solid #10ac00;
	padding: 5px 10px;
	color: white;
	border-radius: 3px;
	font-size: 16px;
}

.green-button:hover{
	background-color: #0f9901;
}

/*.client-box{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
}*/

/*.client-box img{
	max-height: 100px !important;
	margin: 5px auto;
}

.client-box p:first-child{
	font-weight: 600;
	font-size: 16px;
}

.client-box ul{
	display: block;
}

.client-box ul li{
	list-style: none;
}

.client-box ul li span{
	margin: 0px 3px;
	color: darkgray;
}*/

.border-bottom{
	border-bottom: 2px #d1d1d1 solid;
	width: 93%;
}

.side-opt{
	padding-left: 66px;
	padding-top: 25px;
}

.prod-box{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
	min-height: 165px;
}

.prod-box p:first-child{
	font-weight: 600;
	font-size: 16px;
}


.prod-select{
	width: 150px !important;
	margin-right: -9px;
}

.padding-right-reset{
	padding-right: 0;
}

.margin-left-5{
	margin-left: 7px;
}

.margin-right-15{
	margin-right: -16px;
}

.margin-bottom-15{
	margin-bottom: 15px;
}
.sup-menu ul{
	list-style-type: none;
}

.sup-menu li{
	display: inline-block;
	width: 10%;
	padding-left: 0 !important;
	text-align: center;
	padding: 5px 5px;
}

.sup-menu li a{
	color: #333;
}

.sup-menu li.active{
	color: #fff;
	background-color: #de0031;
}

.sup-menu li.active a{
	color: #fff;
	text-decoration: none;
}

.sup-menu li span{
	margin: 0 2px;
}

.padding-left-15{
	padding-left: 15px;
}

.padding-botop-reset{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.padding-top-reset{
	padding-top: 0 !important;
}

.padding-15{
	padding-top: 15px;
	padding-bottom: 15px
}

.load-more{
	background-color: transparent !important;
	border: 1px #0076ad solid;
	color: #0076ad;
}

.load-more:hover{
	background-color: #0076ad !important;
	color: white;
}

.hold{
	max-height: 100px; 
}

.cancel-btn{
	vertical-align: -webkit-baseline-middle;
}

.top{
	margin-top: 8px;
}

.user-box{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
}

.user-box img{
	height: 60px;
/*	margin: 5px auto;*/
}

.user-box p:first-child{
	font-weight: 600;
	font-size: 16px;
}

.user-box ul{
	display: block;
	padding-left: 0 !important;
}

.user-box ul li{
	list-style: none;
}

.user-box ul li span{
	margin: 0px 3px;
	color: darkgray;
}

.price{
	font-size: 20px;
	font-weight: 700;	
}

.order-box{
	background-color: white;
	padding: 15px 10px;
	box-shadow: 0 1px 1px #999;
}
.labels li{
	font-weight: 700;
}

.order-box ul{
	display: block;
	padding-left: 0 !important;
}

.order-box ul li{
	list-style: none;
}

.order-box li span{
	font-weight: normal;
}


.orders td{
	border-top: 0 !important;
	padding: 0 0 !important;
}

.orders td:first-child{
	font-weight: 700;
}

.status{
	color: #0076ad;
}

.labels p{
	font-weight: 700;
}

.labels ul li{
	list-style: none;
}

.labels ul{
	padding-left: 0 !important;
}

.details{
	font-weight: normal;
}

.details ul li{
	list-style: none;
}

.details ul{
	padding-left: 0 !important;
}

.padding-right-15{
	padding-right: 15px;
}

.margin-top-0{
	margin-top: 0 !important;
}


.subtle-bg{
	background-color: #2d2d2d !important;
	color: #fff;
}


.meals table tbody td{
	border-top: 0px !important;
}
.meals tbody tr:nth-child(odd){
	background-color: white;
}

.meals .select:nth-child(odd){
	background-color: white;
}


.meals:nth-child(even) input{
	background-color: #2d2d2d !important;
}

.meals:nth-child(even) input{
	background-color: white;
}


section .meals tbody tr:nth-child(even) input {
background-color: white;
}

.width-50{
	width: 51%;
}

.width-30{
	width: 30% !important;
}

.meals tbody tr td{
	vertical-align: middle;
}

thead.header{
	font-weight: 700;
	background-color: white;
}
section:nth-child(even) input {
 margin: 0 auto;
}

.sub-pref{
	text-indent: 1em;
}

.margin-left-58{
	margin-left: 58px;
	font-style: italic;
}

.meals .select{
	border: 0 !important;
}

.gray-sel{
	background-color: #dfdfdf !important;
}

.breakdown ul li{
	list-style-type: none;
}

.breaklab{
	font-weight: 700;
}

textarea{
	resize: none;
	width: 100%;
	border: 0 !important;
}

.white-bg-in{
	background-color: #fff !important;
}


.radio-btn{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.check-bx{
	width: 15px;
	height: 15px;
	vertical-align: sub;

}

/*STATUS*/
.delivered, .processed, .received{
	background-color: #09b700;
	color: #fff;
}

.processed{
	background-color: #b66200;
}

.received{
	background-color: #0185b6;
}
.received p:nth-child(odd), .processed p:nth-child(odd), .delivered p:nth-child(odd){
	font-size: 16px;
	font-weight: 700;

}

.received p:nth-child(even), .processed p:nth-child(even), .delivered p:nth-child(even){
	font-size: 19px;
	font-weight: 700;
}

.padding-botop-add{
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-right-10-res{
	padding-right: 0 !important;
}

table tbody tr td:nth-child(odd){
	font-weight: 700;
}

table tbody tr td:nth-child(even){
	
}

.order{
	width: calc(100% - 150px);
	display: inline-block;
	vertical-align: middle;
}

.status{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	position: absolute;
}

.ord-price{
	font-size: 20px;
}

.width-18{
	width: 18%;
}

.btn-divider {
	display: inline-block;
	margin: 0 10px;
	width: 1px;
	height: 30px;
	background-color: #9b9b9b;
	vertical-align: middle;
}

.breadcrumbs ul{
	list-style-type: none;
}

.breadcrumbs ul li{
	display: inline-block;
}

.breadcrumbs li{
	font-weight: 600;
}
.breadcrumbs a{
	color: #999;
	font-weight: 600;
}
.breadcrumbs a:last-child{
	color: black;
}

.custom-modal{
	border: 0px solid #999;
	 border: 0px solid rgba(0,0,0,.2); 
	 border-radius: 0px; 
}
.custom-modal h2{
	padding-bottom: 14px !important;
}

.close{
	background-color: #de0031 !important;
	margin-top: 0px !important;
	float: right;
	font-size: 28px;
	font-weight: 700;
	line-height: 0;
	color: white !important;
	text-shadow: 0 1px 0 #fff;
	height: 58px;
	width: 66px;
	opacity: 1 !important;
}


.modal-header{
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.modal-body{
	background: #efefef !important;
}

.modal-footer{
	background: #efefef !important;
	border-top: 0;
}

/*CSS ADDED 20140925*/
.user > div{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #cbcbcb;
	font-size: 0;
}

.user > div:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.user > div > div{
	display: inline-block;
	vertical-align: top;
}

.user > div .image{
	width: 70px;
	height: 70px;
	background: #dfdfdf;/*DISREGARD WHEN IMAGE TAKES OVER*/
	margin-right: 10px;
}

.user > div .image img{
	max-height: 70px;
}

.user > div .user-profile{
	width: calc(100% - 80px);
}

.user > div .user-profile p.name{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
}

.margin-top-25{
	margin-top: 25px;
}

/*ITEM PANEL*/
.margin-top-15{
	margin-top: 15px;
}

.client-container{
	overflow: auto;
	height: 500px;
	margin-top: 5px;
}

.client-box{
	font-size: 0;
	position: relative;
	min-height: 130px;
}

.client-box > div > div{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.client-box .image{
	width: 220px;
	height: 130px;
	margin-right: 10px;
	background: #dfdfdf; /*COMMENT AFTER IMAGE HAS TAKEN OVER :D*/
}

.client-box .image img{
	max-width: 240px;
	max-height: 130px;
}

.client-box div.buttons{
	width: calc(35% - 120px);
	font-size: 14px;
	text-align: right
}

.client-box div.desc{
	width: calc(65% - 120px);
	font-size: 14px;
	margin-right: 10px;
}

.client-box .desc ul{
	font-size: 14px;
	margin: 0 0 0 10px;
	padding: 0 0 0 15px;
}

.client-box.no-image div.image{
	display: none;
}

.client-box.no-image .desc{
	width: 70%;
}

.client-box.no-image div.price{
	width: 30%;
}

.client-box div.price p{
	margin-bottom: 0;
}

.client-box div.price p.sub{
	margin-top: -3px;
	font-size: 12px;
}

.client-box div.price a.lnk-red{
	margin-top: 10px;
	display: block;
}

.client-box p.title{
	font-weight: 700;
	font-size: 16px;
}

/*added 3/25/2015 NCR#: NK-00077 */
.search-containter {
	margin: 5px auto auto;
	padding: 0;
	width: 99%;
}