section[section-style~="top-panel"]{
	width: 100%;
}

section[section-style~="top-panel"] .header-container{
	background-color: #efefef;
}

section[section-style~="top-panel"] .contents{
	position: relative;
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

/*line-middler*/
section[section-style~="top-panel"] .contents.line{
	background-image: url(../../images/ui/line-bg.jpg);
	background-position: 0 center;
	background-size: 100% 2px;
	background-repeat: repeat-x;
}

section[section-style~="top-panel"] .white-space,
section[section-style~="top-panel"] .gray-space{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 30px;
	background-color: #fff;
}

section[section-style~="top-panel"] .gray-space{
	height: 50px;
}

section[section-style~="top-panel"] .gray-space,
section[section-style~="top-panel"] .gray-bg{
	background-color: #efefef;
}


section[section-style~="top-panel"] h1{
	margin: 20px 0; 
	font-size: 28px;
	color: #333;
}

/*breadcrumbs*/
section[section-style~="top-panel"] .breadcrumbs p{
	font-size: 14px;
	color: #333;
}

section[section-style~="top-panel"] .breadcrumbs p a{ 
	color: #333;
	text-decoration: none;
}

section[section-style~="top-panel"] .breadcrumbs p a:hover{
	text-decoration: underline;	
}

section[section-style~="top-panel"] .data-container{
	font-size: 0;
	width: 100%;
}

section[section-style~="top-panel"] .data-container .data-content{
	position: relative;
	display: inline-block;
	width: calc((100% / 7) - 10px);
	margin: 5px 5px;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

section[section-style~="top-panel"] .data-container .data-content p.title{
	padding: 10px 5px;
	width: 100%;
	background-color: #c62827;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

section[section-style~="top-panel"] .data-container .data-content p.desc{
	padding: 5px 10px;
	background-color: #fff;
	color: #333;
	font-size: 12px;
	font-weight: 700;
}