.margin-top-reset{
	margin-top: 0;
}

.margin-bottom-reset{
	margin-bottom: 0;
}

.margin-left-reset{
	margin-left: 0;
}

.margin-right-reset{
	margin-right: 0;
}

ul.margin-reset,
.margin-reset{
	margin: 0;
}

.weekly-delivery{
	font-size: 0;
	border: 2px solid #cccccc;
	width: 100%;
	background: #fff;
}

.weekly-delivery > div{
	width: 14.28571428571429%;
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid #cccccc;
	text-align: center;
	padding: 10px;
}

.weekly-delivery > div:last-child{
	border-right: 0;
}

.weekly-delivery > div p.day{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
	text-transform: uppercase;
}

.weekly-delivery > div p.date{
	font-size: 12px;
}

.weekly-delivery > div p.deliveries{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 0;
}

.report-list{
	margin-top: 20px;
}

.report-list p.title{
	font-weight: 700;
	font-size: 16px;
}

.report-list > div .desc .report-table table tbody tr td{
	vertical-align: top;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(1){
	width: 33.33333333333333%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(2){
	padding-right: 10px;
	width:  33.33333333333333%; 
}

.report-list > div .desc .report-table table tbody tr td:nth-child(3){
	width: 33.33333333333333%;
}


.lbl-p.md label{
	width: 110px;
	margin-right: 10px;
}

.lbl-p.md p{
	width: calc(100% - 120px);
}