.complaint-list > div{
	padding: 10px;
	border-bottom: 1px dashed #c8c8c8;
	cursor: pointer;
}

.complaint-list > div:not(.active) * {
    cursor: pointer;
}

.complaint-list > div.active{
	background: #e47611;
	color: #fff;
    cursor: default;
}

.complaint-list > div:hover{
	background: #f28c2e;
	color: #fff;
}

.complaint-list > div:last-child{
	border-bottom: 0;
}

.margin-left-20{
	margin-left: 20px;
}

.lbl-p.sm label {
	width: 100px;
	margin-right: 10px;
}

.lbl-p.sm p {
	width: calc(100% - 110px);
}

.lbl-p {
	margin-bottom: 2px;
}

.message .name,
.status{
	font-size: 16px;
	font-weight: 700;
}

.green{
	color: #1fa824;
}

.complaint-list > div.active .text-gray,
.complaint-list > div:hover .text-gray,
.complaint-list > div.active .green,
.complaint-list > div:hover .green{
	color: #fff;
}

.message .date-time{
	font-size: 12px;
	font-weight: 700;
	margin-top: 5px;
}

.message > div{
	padding: 10px;
}

.message > div:nth-child(even){
	background: #ebebeb;
}

.message > div:nth-child(odd){
	background: #f8f8f8;
}

.write textarea{
	width: 100%;
	height: 100px;
	border: none;
	background: #dfdfdf;
	resize: none;
	padding: 10px;
}