.store-list > div{
	padding: 10px;
	border-bottom: 1px dashed #c8c8c8;
	cursor: pointer;
}

.store-list > div.active{
	background: #e47611;
	color: #fff;
}

.store-list > div:hover{
	background: #f28c2e;
	color: #fff;
}

.store-list > div:last-child{
	border-bottom: 0;
}

.store-list > div p{
	margin-bottom: 0;
}

.store-list > div p.title{
	font-size: 16px;
	font-weight: 700;
}

.store-view p.store{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 30px;
}

.margin-left-20{
	margin-left: 20px;
}