header[custom-style~="header"]{
	position: relative;
	width: 100%;
	background-color: #9c1303;
}

header[custom-style~="header"] .logo-container{
	margin: 20px 0 10px;
	max-width: 150px;
    height: 39px;
}

header[custom-style~="header"] .logo-container img{
	width: 100%;
	height: 100%;
}

header[custom-style~="header"] .profile-container{
	margin: 20px 0 10px;
	font-size: 0;
}

header[custom-style~="header"] .profile-container div,
header[custom-style~="header"] .profile-container button{
	display: inline-block;
	vertical-align: top;
}

header[custom-style~="header"] .profile-container div p{
	margin: 0 10px;
	font-size: 13px;
	color: #fff;
	line-height: 1.5;
}

header[custom-style~="header"] .profile-container div.profile-pic{
	position: relative;
	width: 40px;
}

header[custom-style~="header"] .profile-container img{
	position: relative;
	z-index: 1;

}

header[custom-style~="header"] .profile-container img[src~=""]{
	display: none;
}

header[custom-style~="header"] .profile-container div.profile-pic:after{
	content: attr(prof-name);
	position: absolute;
	top: 0;
	display: inline-block;
	padding-top: 5px;
	width: 40px;
	height: 40px;
	background-color: #fadb89;
	border-radius: 50%;
	color: #9c1303;
	font-size: 22px;
	text-align: center;
	z-index: 0;
}

header[custom-style~="header"] .profile-container .btn-logout{
	display: inline-block;
	border-radius: 0;
	margin-left: 10px;
	padding: 10px 20px 12px;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	background-color: #9c1303;
	border-left: solid 2px #fff;
	outline: none;

	transition: background-color .5s, color .5s;
}

header[custom-style~="header"] .profile-container .btn-logout:hover{
	color: #9c1303;
	background-color: #fff;

	transition: background-color .5s, color .5s;
}

header[custom-style~="header"] nav{
	display: block;
	padding: 0 15px 15px;

}

header[custom-style~="header"] nav ul{
	padding: 0;
	margin: 0;
}

header[custom-style~="header"] nav ul li{
	position: relative;
	margin-right: 20px;
	display: inline-block;
	list-style: none;
}

header[custom-style~="header"] nav ul li.active:after,
header[custom-style~="header"] .sub-nav nav ul li.active:after{
	position: absolute;
	content:"";
	display: block;
	margin-top: 5px;
	width: 100%;
	height: 10px;
	background: url(../../images/ui/arrow-main-nav.png) no-repeat;
	background-size: 10px;
	background-position: center;
}

header[custom-style~="header"] nav ul li a{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	cursor: pointer;

	transition: color .5s;
}

header[custom-style~="header"] nav ul li.active a{
	color: #fbdb88;
}

header[custom-style~="header"] nav ul li a:hover{
	color: #fbdb88;

	transition: color .5s;
}

/*icon buttons*/
header[custom-style~="header"] .icon-btn{
	padding: 5px 20px;
}

header[custom-style~="header"] .icon-btn a{
	display: inline-block;
	width: 24px;
	margin: 0 10px;

	transition: width .5s, margin .3s;
}

header[custom-style~="header"] .icon-btn a:hover{
	margin: -4px 8px 0;
	width: 28px;

	transition: width .5s, margin .3s;
}

header[custom-style~="header"] .icon-btn a:hover img{
	width: 100%;
}

/*sub-navi*/
header[custom-style~="header"] .sub-nav{
	position: relative;
	background-color: #e4e4e2;
	height: 34px;
	z-index: 2;
}

header[custom-style~="header"] .sub-nav nav{
	margin-left: -15px;
}

header[custom-style~="header"] .sub-nav nav ul li{
	position: relative;
	margin: 0;
	margin-top: 1px;
}

header[custom-style~="header"] .sub-nav nav ul li.active:after{
	background: url(../../images/ui/arrow-sub-nav.png) no-repeat;
	background-size: 10px;
	background-position: center;
}

header[custom-style~="header"] .sub-nav nav ul li a{
	padding: 5px 15px 15px;
	background-color: #e4e4e4;
	color: #333;

	transition: color .5s, background-color .5s;
}

header[custom-style~="header"] .sub-nav nav ul li.active a{
	background-color: #c8c8c8;
}

header[custom-style~="header"] .sub-nav nav ul li a:hover{
	color: #000;
	background-color: #dcdcdc;

	transition: .5s;
}


header[custom-style~="header"] .sub-nav nav ul li .notify{
	position: absolute;
	top: -15px;
	right: 5px;
	padding-top: 2px;
	width: 20px;
	height: 20px;
	font-size: 12px;
	border-radius: 50%;
	background-color: #D65D51;
	color: #fff;
	text-align: center;
	z-index: 999;
}