/*AGING REPORT*/

.overdue-accounts table thead tr td{
	font-weight: 700;

}


.overdue-accounts table tbody td{
	border-top: 0px !important;
}

.overdue-accounts table tbody tr:nth-child(odd){
	background-color: #fff;
}

.overdue-accounts table tbody tr:nth-child(even){
	background-color: #efefef;
}