.complaint-list > div{
	padding: 10px;
	border-bottom: 1px dashed #c8c8c8;
}


.complaint-list > div:last-child{
	border-bottom: 0;
}

.margin-left-20{
	margin-left: 20px;
}

.complaint-list > div .lbl-p.sm label {
	width: 100px;
	margin-right: 10px;
}

.complaint-list > div .lbl-p.sm p {
	width: calc(100% - 110px);
}

.complaint-list > div .lbl-p {
	margin-bottom: 2px;
}

.message .name,
.status{
	font-size: 16px;
	font-weight: 700;
}

.green{
	color: #1fa824;
}

