.report-list > div .desc .report-table table tbody tr td{
	vertical-align: top;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(1){
	width: 29%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(2){
	padding-right: 10px;
	width:  44%; 
}

.report-list > div .desc .report-table table tbody tr td:nth-child(3){
	width: 27%;
}

.lbl-p.md label{
	width: 110px;
	margin-right: 10px;
}

.lbl-p.md p{
	width: calc(100% - 120px);
}