.report-list > div .desc .report-table table tbody tr td{
	vertical-align: middle;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(1){
	width: 5%;
	padding-right: 10px;
}

.report-list > div .desc .report-table table tbody tr td:nth-child(2){
	padding-right: 10px;
	width:  33.33333333333333%; 
}

.report-list > div .desc .report-table table tbody tr td:nth-child(3){
	width: 33.33333333333333%;
}

.report-list p.title{
	font-weight: 700;
	font-size: 16px;
}


.lbl-p.md label{
	width: 110px;
	margin-right: 10px;
}

.lbl-p.md p{
	width: calc(100% - 120px);
}