.sub-com button{
	margin: 0 8px;
}

.view-order-box{
	background-color: white;
	padding: 20px 20px;
	box-shadow: 0 1px 1px #999;
}

.padding-bottom-15{
	padding-bottom: 15px;
}

.padding-top-15{
	padding-top: 15px;
}

.margin-bottom-0{
	margin-bottom: 0;
}

.subtle-bg {
	background-color: #2d2d2d !important;
	color: #fff;
}

.padding-left-reset{
	padding-left: 0 !important;
}

.margin-left-110{
	margin-left: 110px;
}

.notes{
	background-color: white;
	padding: 10px 10px;
	box-shadow: 0 1px 1px #999;
	font-size: 14px;
}

.filter label{
	font-weight: normal;
}

.push-left{
	left: 84px;
}

.with-solo ul {
	padding-left: 0px !important;
}

.with-solo li{
	list-style: none;
}

.with-solo li:first-child{
	font-weight: 700;

}

.margin-left-54{
	margin-left: 54px;
}

.margin-right-reset{
	margin-right: 0 !important;
}

.order-list ul li label{
	vertical-align: baseline;
}

.select.double.sm > div.select-dropdown{
	width: 105px;
	margin-right: 5px;
}

p.caution i{
	color: #ffc600;
}

.order-menu{
	font-size: 0;
}

.order-menu ul.nav-tabs{
	margin-left: -15px;
	border: none;
}

.order-menu ul.nav-tabs li.active a,
.order-menu .tab-content div.tab-pane{
	background-color: #efefef;
	border-radius: 0;
	border: none;
}

.order-menu ul.nav-tabs li a img{
	width: 50px;
}

.order-menu .tab-content div.tab-pane{
	font-size: 13px;
}

.order-menu .nav-pills{
	border-right: solid 1px #dfdfdf; 
}

.order-menu .nav-pills>li>a{
	margin-left: -15px;
	color: #333;
	font-weight: 700;
	border-radius: 0;
}

.order-menu .nav-pills>li>a:hover{
	color: #fff;
	background-color: #ff0038;
}

.order-menu .nav-pills>li.active>a, 
.order-menu .nav-pills>li.active>a:hover, 
.order-menu .nav-pills>li.active>a:focus{
	margin-right: -30px;
	background-color: #de0031;
	color: #fff;
	background-position: right 0;
	background-image: url("../../../images/ui/meal-side-arrow.jpg");
	background-size: 30px 39px;
	background-repeat: no-repeat; 
}

.order-menu .menu-container{
	max-height: 500px;
	font-size: 0;
}


.order-menu .menu-container .content{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 3);
	height: auto;
	min-height: 250px;
	text-align: center;
	outline: none;
}

.order-menu .menu-container .content > div.menu-display{
	height: 100%;
}

.order-menu .menu-container .content > div.menu-options{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 100%;*/
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	color: #333;
	outline: none;
	border-radius: 5px;
}

/*.order-menu .menu-container .content:hover > div.menu-options{
	display: block;
	outline: none;
}*/

.order-menu .menu-container .content > div.menu-options{
	display: none;
}

.order-menu .menu-container .content > div.menu-options.shown{
	display: block;
}

.order-menu .menu-container .content > div.menu-options > label{
	color: #fff;
}

.order-menu .menu-container .content > div.menu-options > input[type=text]{
	text-align: right;
	display: inline-block;
	width: 50%;
	margin-left: 10px;
}

.order-menu .menu-container .content > div.menu-options .btn-upgrades{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	background: none;
	color: #fff;
	text-shadow: none;
	text-align: center;
	border: none;
	box-shadow: none;
	background-color: #de0031;
}

.order-menu .menu-container .content > div.menu-options .btn-upgrades i{
	font-size: 20px;
	margin-left: 10px;
}

.update-popover{
	width: 500px;
	max-width: 500px;
}

.order-menu .menu-container .content:nth-of-type(1n+1)  > div.menu-options .popover{
	left: -150px !important;
}

.order-menu .menu-container .content:nth-of-type(2n+1) > div.menu-options .popover{
	left: -300px !important;
}

.order-menu .menu-container .content:nth-of-type(3n+1) > div.menu-options .popover{
	left: 0 !important;
}

.order-menu .menu-container .content:nth-of-type(1n+1) > div.menu-options .popover.bottom>.arrow{
	left: 315px !important;
}

.order-menu .menu-container .content:nth-of-type(2n+1) > div.menu-options .popover.bottom>.arrow{
	left: 465px !important;
}

.order-menu .menu-container .content:nth-of-type(3n+1) > div.menu-options .popover.bottom>.arrow{
	left: 165px !important;
}


.update-popover .popover-content{
	padding-right: 0;
}

.update-popover.bottom>.arrow:after{
	width: 20px;
	height: 10px;
	border: none;
	background: url(../../../images/ui/up-arrow.png) center center no-repeat;
}

.update-popover .upgrade-container .popover-content{
	width: 500px;
	padding: 15px 0;
}

.update-popover .upgrade-container{
	width: calc(100% - 3px);
	max-height: 250px;
	overflow: hidden;
}

.update-popover .upgrade-container .upgrade-content:nth-of-type(odd){
	background-color: #eee;
}

.update-popover .upgrade-container .upgrade-content h5{
	padding: 10px;
	font-size: 20px;
	color: #333;
}

.update-popover .upgrade-container .upgrade-content .add-food:hover{
	cursor: pointer;
	background-color: #aaa;
}

.update-popover .mCSB_inside>.mCSB_container{
	margin-right: 15px;
}

.order-menu .menu-container .content > div.menu-options .select>.select-dropdown{
	width: 100%;
}

.order-menu .menu-container .content > div.menu-options > .drink-section{
	margin-top: 10px;
	width: 100%;
	border-top: solid 1px #aaa;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a{
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	width: auto;
	height: auto;
	margin: 0 10px;
	text-align: center;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(1) svg{
	width: 15px;
	height: 30px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(2) svg{
	width: 20px;
	height: 40px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(3) svg{
	width: 25px;
	height: 50px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:before{
	position: absolute;
	font-size: 13px;
	font-weight: 700;
	color: #333;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(1):before{
	content: "R";
	left: 3px;
	bottom: 3px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(1) .drink-icon{
	height: 30px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(2):before{
	content: "M";
	left: 4px;
	bottom: 8px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(2) .drink-icon{
	height: 40px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(3):before{
	content: "L";
	left: 8.5px;
	bottom: 14px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:nth-of-type(3) .drink-icon{
	height: 50px;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:hover .drink-icon polygon{
	fill: #DD1E34;
}

.order-menu .menu-container .content > div.menu-options > .drink-section a:hover:before{
	color: #fff;
}

.selected-meals{
	padding: 20px 0 0;
	margin-top: 70px;
	background-color: #efefef;
}

.selected-meals .sm-container{
	height: 300px;
	max-height: 300px;
}

.selected-meals table thead tr th:nth-of-type(1){
	border-bottom: solid 5px #aaa;
}

.selected-meals table thead tr th:nth-of-type(2){
	border-bottom: solid 5px #666;
}

.selected-meals table thead tr th:nth-of-type(3){
	border-bottom: solid 5px #333;
}

.selected-meals table thead tr th:nth-of-type(1),
.selected-meals table tbody tr td:nth-of-type(1){
	width: 110px;
}

.selected-meals table thead tr th:nth-of-type(2),
.selected-meals table tbody tr td:nth-of-type(2){
	width: 50px;
}

.selected-meals table thead tr th:nth-of-type(3),
.selected-meals table tbody tr td:nth-of-type(3){
	width: 100px;
}

.selected-meals .sm-container table tbody tr:nth-of-type(odd){
	background-color: #ddd;
}

.selected-meals .sm-container table tbody tr td{
	padding: 15px 10px;
	font-size: 12px;
}


.selected-meals .sm-container .table-hover{
	font-size: 0;
	padding:10px;
	opacity: 0;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,.5);
}

.selected-meals .sm-container .table-hover:after{
	content: "";
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.selected-meals .sm-container .table-hover button{
	font-size: 10px;
}

.selected-meals .sm-container .table-hover .edit-container,
.selected-meals .sm-container .table-hover .btn-container{
	display: inline-block;
	vertical-align: middle;
}

.selected-meals .sm-container .table-hover .edit-container{
	display: none;
}

.selected-meals .sm-container .table-hover .edit-container *{
	vertical-align: top;
}

.selected-meals .sm-container .table-hover .edit-container input{
	padding: 5px 10px;
	width: 30%;
	font-size: 12px;
}

.total-price{
	font-size: 12px;
	height: 164px;
	margin-right: 15px;
}

.total-price table{
	margin-top: 10px;
	width: 95%;
}

.total-price table tbody tr td{
	width: auto !important;
	vertical-align: top;
	padding: 5px 0;
}

.total-price input[type=radio]{
	margin-right: 5px;
}

.total-price input[type=radio],
.total-price label{
	display: inline-block;
	width: auto;
	font-size: 12px;
}

.total-price .top-line{
	border-top: solid 1px #aaa;
}

.chck-add input[type=checkbox],
.chck-add label:last-child{
	margin-left: 10px;
	display: inline-block;
	width: auto;
}

.deli-note textarea{
	background-color: #efefef;
}

.select.full{
	width: 100%;
}

#change-brand .modal-dialog{
	margin-top: 200px;
}

#change-brand .modal-content{
	border-radius: 0;
}

#change-brand .modal-header{
	padding: 0
}

#change-brand .modal-header h4{
	padding: 14px 10px;
	background-color: #fff;
}

#change-brand .modal-header button.close{
	margin: 0;
	padding: 15px 20px;
	background-color: #ff0038;
	color: #fff;
	opacity: 1;
}

#change-brand .modal-header button.close:hover{
	background-color: #de0031;
}

#change-brand .modal-body{
	background-color: #fafafa;
}

#change-brand .modal-body p{
	width: 90%;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}

#change-brand .modal-body span{
	display: inline-block;
	font-size: 30px;
	vertical-align: top;
	color: #ffc600;
}

#change-brand .modal-footer{
	margin-top: 0;
	border-top: none;
	background-color: #fafafa;
	text-align: center;

}

.remove-po-file {
    float: right;
    margin-top: 14px;
    color: #FF0F0F;
    padding: 3px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #DADADA;
    font-size: 13px;
    cursor: pointer;
}

div[scheme="jollibee"] .order-menu .nav-pills {
	border-right: 1px solid #dfdfdf;
}
div[scheme="jollibee"] .order-menu .nav-pills > li > a {
	border-radius: 0;
	color: #333;
	font-weight: 700;
	margin-left: -15px;
}
div[scheme="jollibee"] .order-menu .nav-pills > li > a:hover {
	background-color: #ff0038;
	color: #fff;
}
div[scheme="jollibee"] .order-menu .nav-pills > li.active > a, div[scheme="jollibee"] .order-menu .nav-pills > li.active > a:hover, div[scheme="jollibee"] .order-menu .nav-pills > li.active > a:focus {
	background-color: #f00830;
	background-image: url("../../../images/ui/meal-side-arrow.jpg");
	background-position: right 0;
	background-repeat: no-repeat;
	background-size: 30px 39px;
	color: #fff;
	margin-right: -30px;
}
div[scheme="redribbon"] .order-menu .menu-container .content > div.menu-options > .drink-section a:hover .drink-icon polygon {
	fill: #f00830;
}
div[scheme="greenwich"] .order-menu .nav-pills {
	border-right: 1px solid #dfdfdf;
}
div[scheme="greenwich"] .order-menu .nav-pills > li > a {
	border-radius: 0;
	color: #333;
	font-weight: 700;
	margin-left: -15px;
}
div[scheme="greenwich"] .order-menu .nav-pills > li > a:hover {
	background-color: #2aa22a;
	color: #fff;
}
div[scheme="greenwich"] .order-menu .nav-pills > li.active > a, div[scheme="greenwich"] .order-menu .nav-pills > li.active > a:hover, div[scheme="greenwich"] .order-menu .nav-pills > li.active > a:focus {
	background-color: #008f00;
	background-image: url("../../../images/ui/meal-side-arrow-greenwich.jpg");
	background-position: right 0;
	background-repeat: no-repeat;
	background-size: 30px 39px;
	color: #fff;
	margin-right: -30px;
}
div[scheme="greenwich"] .order-menu .menu-container .content > div.menu-options .btn-upgrades {
	background: none repeat scroll 0 0 #008f00;
	border: medium none;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	text-shadow: none;
	width: 100%;
}
div[scheme="greenwich"] .order-menu .menu-container .content > div.menu-options > .drink-section a:hover .drink-icon polygon {
	fill: #008f00;
}
div[scheme="redribbon"] .order-menu .nav-pills {
	border-right: 1px solid #dfdfdf;
}
div[scheme="redribbon"] .order-menu .nav-pills > li > a {
	border-radius: 0;
	color: #333;
	font-weight: 700;
	margin-left: -15px;
}
div[scheme="redribbon"] .order-menu .nav-pills > li > a:hover {
	background-color: #3491ce;
	color: #fff;
}
div[scheme="redribbon"] .order-menu .nav-pills > li.active > a, div[scheme="redribbon"] .order-menu .nav-pills > li.active > a:hover, div[scheme="redribbon"] .order-menu .nav-pills > li.active > a:focus {
	background-color: #2c7baf;
	background-image: url("../../../images/ui/meal-side-arrow-rr.jpg");
	background-position: right 0;
	background-repeat: no-repeat;
	background-size: 30px 39px;
	color: #fff;
	margin-right: -30px;
}
div[scheme="redribbon"] .order-menu .menu-container .content > div.menu-options .btn-upgrades {
	background: none repeat scroll 0 0 #2c7baf;
	border: medium none;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	text-shadow: none;
	width: 100%;
}
div[scheme="redribbon"] .order-menu .menu-container .content > div.menu-options > .drink-section a:hover .drink-icon polygon {
	fill: #2c7baf;
}
div[scheme="manginasal"] .order-menu .nav-pills {
	border-right: 1px solid #dfdfdf;
}
div[scheme="manginasal"] .order-menu .nav-pills > li > a {
	border-radius: 0;
	color: #333;
	font-weight: 700;
	margin-left: -15px;
}
div[scheme="manginasal"] .order-menu .nav-pills > li > a:hover {
	background-color: #67b021;
	color: #fff;
}
div[scheme="manginasal"] .order-menu .nav-pills > li.active > a, div[scheme="manginasal"] .order-menu .nav-pills > li.active > a:hover, div[scheme="manginasal"] .order-menu .nav-pills > li.active > a:focus {
	background-color: #459e00;
	background-image: url("../../../images/ui/meal-side-arrow-mi.jpg");
	background-position: right 0;
	background-repeat: no-repeat;
	background-size: 30px 39px;
	color: #fff;
	margin-right: -30px;
}
div[scheme="manginasal"] .order-menu .menu-container .content > div.menu-options .btn-upgrades {
	background: none repeat scroll 0 0 #459e00;
	border: medium none;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	text-shadow: none;
	width: 100%;
}
div[scheme="manginasal"] .order-menu .menu-container .content > div.menu-options > .drink-section a:hover .drink-icon polygon {
	fill: #459e00;
}
div[scheme="bk"] .order-menu .nav-pills {
	border-right: 1px solid #dfdfdf;
}
div[scheme="bk"] .order-menu .nav-pills > li > a {
	border-radius: 0;
	color: #333;
	font-weight: 700;
	margin-left: -15px;
}
div[scheme="bk"] .order-menu .nav-pills > li > a:hover {
	background-color: #303030;
	color: #fff;
}
div[scheme="bk"] .order-menu .nav-pills > li.active > a, div[scheme="bk"] .order-menu .nav-pills > li.active > a:hover, div[scheme="bk"] .order-menu .nav-pills > li.active > a:focus {
	background-color: #000000;
	background-image: url("../../../images/ui/meal-side-arrow-bk.jpg");
	background-position: right 0;
	background-repeat: no-repeat;
	background-size: 30px 39px;
	color: #fff;
	margin-right: -30px;
}
div[scheme="bk"] .order-menu .menu-container .content > div.menu-options .btn-upgrades {
	background: none repeat scroll 0 0 #000000;
	border: medium none;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	text-shadow: none;
	width: 100%;
}
div[scheme="bk"] .order-menu .menu-container .content > div.menu-options > .drink-section a:hover .drink-icon polygon {
	fill: #000000;
}

.bootstrap-datetimepicker-widget .dropdown-menu
{
	background-color: #ffffff;
}